@font-face {
  font-family: Samim;
  src: url('../fonts/Samim.eot');
  src: url('../fonts/Samim.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/Samim.woff2') format('woff2'),
       url('../fonts/Samim.woff') format('woff'),
       url('../fonts/Samim.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Samim;
  src: url('../fonts/Samim-Bold.eot');
  src: url('../fonts/Samim-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Samim-Bold.woff2') format('woff2'),
       url('../fonts/Samim-Bold.woff') format('woff'),
       url('../fonts/Samim-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Samim;
  src: url('../fonts/Samim-Medium.eot');
  src: url('../fonts/Samim-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Samim-Medium.woff2') format('woff2'),
       url('../fonts/Samim-Medium.woff') format('woff'),
       url('../fonts/Samim-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: Tanha;
  src: url('../fonts/Tanha-FD.eot');
  src: url('../fonts/Tanha-FD.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Tanha-FD.woff2') format('woff2'),
       url('../fonts/Tanha-FD.woff') format('woff'),
       url('../fonts/Tanha-FD.ttf') format('truetype');
  font-weight: normal;
}
