*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

html {
  direction:rtl;
  scroll-behavior: smooth;
}

.translated-rtl * {
  // when page translated reset styles
  letter-spacing: 0 !important;
}
