body {
  overflow-x: hidden;
}

img {
  width: 100%;
  height: 100%;
}

section {
  max-width: $max-width;
  margin: 0 auto;
}

%card-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem 2rem;
  justify-items: center;
  @include breakpoint(md) {
    grid-template-columns: 1fr 1fr;
  }
  @include breakpoint(lg) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

%title-btn {
  border: 0.2rem solid $black-clr-1;
  background: none;
  border-radius: 0.3rem;
  padding: 1rem;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  color: $black-clr-1;
  &:hover {
    background: $black-clr-1;
    color: $white-clr;
  }
}

%yellowBtn {
  background: $yellow-clr;
  padding: 0.5rem 1rem;
  color: $white-clr;
  border-radius: 0.4rem;
}

%paginationLinks {
  @extend %yellowBtn;
  background: $gray-clr-9;
  color: $black-clr-1;
  font-size: 1.3rem;
  transition: 0.3s;
  margin-left: 0.5rem;
  display: inline-block;
  width: 3.5rem;
  padding: 0.5rem;
  text-align: center;
}

%formInputIcon {
  color: $gray-clr-4;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  width: 4rem;
  padding:1rem;
  font-size: 1.7rem;

  @include flex();
}

%formInputText {
  width: 100%;
  border: 1px solid $gray-clr-mid;
  padding: 0.6rem 1rem;
  padding-left: 3.5rem;
  border-radius: 2px;
  font-size: 1.3rem;
  font-family: inherit;
  line-height: inherit;
  @include transition(box-shadow 0.3s ease);

  &::placeholder {
    color: $gray-clr-3;
    opacity: 1;
  }

  &:focus {
    box-shadow: 0 0 10px $gray-clr-5;
  }
}

%formSelect {
  background-color:$gray-clr-7;
  border: 1px solid $gray-clr-4;
  cursor:pointer;
  width: 100%;
  padding: 0.6rem 1rem;
  margin-top:.5rem;
  border-radius: 4px;
  font-size:1.3rem;
  font-family: inherit;
  line-height: inherit;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-selec:focus {
  outline: none !important;
}
