body {
  overflow-x: hidden;
}

img {
  width: 100%;
  height: 100%;
}

section {
  max-width: $max-width;
  margin: 0 auto;
}

%card-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem 2rem;
  justify-items: center;
  @include breakpoint(md) {
    grid-template-columns: 1fr 1fr;
  }
  @include breakpoint(lg) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

%title-btn {
  border: 0.2rem solid $black-clr-1;
  background: none;
  border-radius: 0.3rem;
  padding: 1rem;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  color: $black-clr-1;
  &:hover {
    background: $black-clr-1;
    color: $white-clr;
  }
}

%yellowBtn {
  background: $yellow-clr;
  padding: 0.5rem 1rem;
  color: $white-clr;
  border-radius: 0.4rem;
}

%paginationLinks {
  @extend %yellowBtn;
  background: $gray-clr-9;
  color: $black-clr-1;
  font-size: 1.3rem;
  transition: 0.3s;
  margin-left: 0.5rem;
}

.no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-selec:focus {
  outline: none !important;
}
