body {
  font-family: IRANSans, yekan, Arial, sans-serif;
}

html {
  font-size: 0.625rem; // 16 * 0.625 > 1rem = 10px 

  // @include breakpoint(xs) { font-size: 0.6875rem; } // 1rem = 11px
  @include breakpoint(sm) { font-size: 0.75rem;   } // 1rem = 12px
  // @include breakpoint(md) { font-size: 0.8125rem; } // 1rem = 13px
  // @include breakpoint(lg) { font-size: 0.875rem;  } // 1rem = 14px
}

h1 { font-size: 2.5rem;  }
h2 { font-size: 2rem;    }
h3 { font-size: 1.6rem;  }
h4 { font-size: 1.2rem;  }
h5 { font-size: 0.875rem;}

p  { font-size: 1.1rem;  }
a  { font-size: 1.2rem;  }
