//* pages/my-account/recover-password.html

.recover-pass { 
  &__main { 
    background-color:$recover-pass-main-bg;
    padding:4rem 1.5rem;
    padding-bottom:10rem;
    max-width:100%;

    @include flex($aitem:flex-start);

    .main__wrapper { 
      max-width: 50rem;
      margin: 0 auto;
      border-radius:.4rem;
      border:1px solid $recover-pass-main-wrapper-border;
      box-shadow: 0 .6rem 2rem $recover-pass-main-wrapper-shadow;
      background-color:$recover-pass-main-wrapper-bg;

      @include flex($fdir:column, $aitem:stretch);
    }
  }

  .wrapper {
    &__header { 
      @include flex($fdir:column, $gap:5rem);
      padding:3rem;
      padding-bottom:2rem;
    }

    &__img { 
      height: 13rem;
    }

    &__text { 
      color:$recover-pass-form-header-text-fg;
      font-size:1.3rem;
    }
    

    &__form { 
      flex:1;
      padding:3rem;
      padding-top: 0;
      @include flex($fdir:column, $aitem:stretch, $gap:1rem);
      
      .form {
        &__label {
          color: $recover-pass-form-label-fg;
          font-size:1.3rem;
        }

        &__input { 
          @extend %formInputText;
        }

        &-input__box {
          position:relative;

          i { @extend %formInputIcon; }
        }

        &__submit {
          background-color:$recover-pass-form-submit-bg;
          color:$recover-pass-form-submit-fg;
          padding:.9rem 1.6rem;
          margin-left:auto;
          margin-top:10px;
          font-family:inherit;
          font-size:1.4rem;
          line-height: 1.5;
          border-radius: 4px;
          cursor:pointer;
        }
      }
    }
  }
}
