// @include breakpoint(sm){ font-size: 20px; } 
@mixin breakpoint($class) {
  @if ($class == xs) {
    @media (max-width: 576px) { @content; }
  }

  @else if ($class == sm) {
    @media (min-width: 576px) { @content; }
  }

  @else if ($class == md) {
    @media (min-width: 768px) { @content; }
  }

  @else if ($class == lg) {
    @media (min-width: 992px) { @content; }
  }

  @else if ($class == xl) {
    @media (min-width: 1200px) { @content; }
  }

  @else if ($class == xxl) {
    @media (min-width: 1400px) { @content; }
  }

  @else {
    @warn "breakpoint mixin supports: xs, sm, md, lg, xl, xxl";
  }
}

// @include transition(transform 2s ease-out, opacity 1s ease);
@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}

// @include transform(translateX(10rem), translateY(1rem));
@mixin transform($args...) {
	-webkit-transform: $args;
	-moz-transform: $args;
	-ms-transform: $args;
	-o-transform: $args;
	transform: $args;
}

// @include flex($fdir: row,$jcnt: center,$aitem:center, $gap:0);
@mixin flex($dsp:flex, $fdir: row, $jcnt: center, $aitem:center, $fwrap:nowrap, $gap:0) {
  display:$dsp;
  flex-direction:$fdir;
  justify-content:$jcnt;
  align-items:$aitem;
  flex-wrap:$fwrap;
  gap:$gap;
}


