// @include breakpoint(sm){ font-size: 20px; } 
@mixin breakpoint($class) {
  @if ($class == xs) {
    @media (max-width: 576px) { @content; }
  }

  @else if ($class == sm) {
    @media (min-width: 576px) { @content; }
  }

  @else if ($class == md) {
    @media (min-width: 768px) { @content; }
  }

  @else if ($class == lg) {
    @media (min-width: 992px) { @content; }
  }

  @else if ($class == xl) {
    @media (min-width: 1200px) { @content; }
  }

  @else if ($class == xxl) {
    @media (min-width: 1400px) { @content; }
  }

  @else {
    @warn "breakpoint mixin supports: xs, sm, md, lg, xl, xxl";
  }
}

// @include transition(all,2s,ease-out);
@mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
    -webkit-transition: $what $time $how;
    -moz-transition:    $what $time $how;
    -ms-transition:     $what $time $how;
    -o-transition:      $what $time $how;
    transition:         $what $time $how;
}

// @include pseudo($width: 100px); 
@mixin pseudo($display: block, $pos: absolute, $content: '', $width: 100%, $height: 100%){
    content: $content;
    display: $display;
    position: $pos;
    width: $width;
    height: $height;
}
@mixin flexcenter($fdir:row,$jc:center,$ai:center){
  display:  flex;
  flex-direction: $fdir;
  justify-content: $jc;
  align-items: $ai;

}



