//? colors
//* used in buttons and hover effect
$yellow-clr:#ffb606;

//* used in section-title and hover effect 
$black-clr-1:#000;

//* used in texts and blog-title and post-title
$gray-clr-1:#464749;

//* used in icons
$gray-clr-2:#6C757D;

//* used in course-price
$gray-clr-3:#B0B0B0;

//* used in background course-icon
$gray-clr-4:#0000005e;

//* used in blog-card
$gray-clr-5:#ececec;

//* used in breadcrumb
$gray-clr-6:#EBEEF1;

//* used in blog-page-background and course-page-background 
$gray-clr-7:#F8F9FA;

//* used in general-question-background 
$gray-clr-8:#F8F9FA;

//* used in home-page-background header-background and hover effect course-icon
$white-clr:#fff;

//* used in links
$blue-clr-1:#3467ff;

//* used in course-page
$green-clr:#1fbd50;

$react-gr-clr:linear-gradient(180deg,#4d01df 0%,#8a2be1 100%);
$nodeJs-gr-clr:linear-gradient(180deg,#1d7401 0%,#6e9601 100%);
$js-gr-clr:linear-gradient(180deg,#edaf20 0%,#ed5e01 100%);
$reactNative-gr-clr:linear-gradient(180deg,#4751ca 0%,#00a2e3 100%);


//? sizes
//* used in main-container
$max-width:1230px;

//? top-bar
$topbar-bg: black;

$topbar-link-fg: white;
$topbar-link-hover-fg: cyan;

$topbar-icon-fg: white;
$topbar-icon-hover-fg: cyan;

//? sl-c-navbar
$navbar-box-shadow-clr: #efefef;

$navbar-link-clr: $gray-clr-1;
$navbar-active-link-clr: #000;

$navbar-dropdown-angle: #aaa;

$navbar-button-myacc-bg: $yellow-clr;
$navbar-button-myacc-clr: $white-clr;

