.comment__c{
    border:1px solid $gray-clr-3;
    border-radius:10px;
    padding: 30px 20px;
    margin: 30px 0;
    font-family: Samim;
    @include flex($fdir:column,$aitem:flex-start);

    .comment{
        &__header{
            width: 100%;
            position: relative;
            @include flex($fdir:column,$aitem:flex-start);
            @include breakpoint(md){@include flex($jcnt:flex-start);font-size: 1.1rem;};
            &__author{color:$gray-clr-1;font-weight: bold; margin-left: 20px;}
            &__time{color:$gray-clr-3}
            &__reply{position: absolute;
                top:-15px;
                left: 1%;
                padding: 5px 12px;
                font-family: inherit;
                color:$gray-clr-3;
                border-radius: 2px;
                background-color: $white-clr;
                border:1px solid $gray-clr-3;
                cursor: pointer;
                }
        }
        &__msg{}
    }

}