.comments {
  border: 1px solid $comment-border-clr;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 100%;
  &__tab {
    border-bottom: 1px solid $comment-border-clr;
    padding: 0 3rem;
    font-size: 1.5rem;
    color: $gray-clr-1;
    .tabname {
      @include flex($dsp:inline-flex,$jcnt: flex-start);
      border-bottom: 2px solid $yellow-clr;
      padding: 15px 0;
      &__title {
        margin-right: 1rem;
      }
    }
  }

  &__list {
    padding: 28px;
    @include flex($fdir: column, $aitem: flex-start);
  }
  .comment {
    width: 100%;
    border: 1px solid $comment-border-clr;
    border-radius: 10px;
    padding: 30px 20px;
    margin:3% 0;
    transition:  box-shadow .3s cubic-bezier(.39,.5,.15,1.36);
    &__header {
      width: 100%;
      position: relative;
      @include flex($fdir: column, $aitem: flex-start);
      @include breakpoint(md) {
        @include flex($jcnt: flex-start);
        font-size: 1.1rem;
      }
      &__author {
        color: $gray-clr-1;
        font-weight: bold;
        margin-left: 20px;
        &__tag{
            background-color: $comment-tag-clr;
            color:$white-clr;
            font-size: .7rem;
            border-radius: 10%;
        }
      }
      &__time {
        color:$comment-time-clr;
      }
      &__reply {
        position: absolute;
        top: -15px;
        left: 1%;
        padding: 5px 12px;
        font-size: 1rem;
        font-family: inherit;
        color: $gray-clr-3;
        border-radius: 2px;
        background-color: $white-clr;
        border: 1px solid $comment-reply-clr;
        cursor: pointer;
      }
    }
    &__msg{
        color:$comment-msg-clr;
        text-align: justify;
    }

    &:hover{
        box-shadow: 0 2px 30px 0 $comment-hover-clr;
    }
  }
  &__pagination {
    margin:15px auto;
    a {
      @extend %paginationLinks;
      &:hover {
        @extend %yellowBtn;
      }
    }
    .active {
      @extend %yellowBtn;
      cursor: auto;
    }
  }
}
