.course-card {
  overflow: hidden;
  border: 0.1rem solid $gray-clr-10;
  border-radius: 1rem;
  width: min(40rem, 100%);
  transform: translateY(0);
  transition: 0.3s;
  position: relative;

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 0 1rem 0.1rem $gray-clr-5;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    min-height: 11rem;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    border-top: 0.1rem solid $gray-clr-10;
    padding: 1rem 2rem;
  }

  i {
    color: $gray-clr-3;
    margin: 0 0.4rem;
    font-size: 1.6rem;
  }

  span {
    font-size: 1.4rem;
    color: $gray-clr-2;
  }
  .header {
    &__icon {
      position: absolute;
      top: 1rem;
      right: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      i {
        cursor: pointer;
        background: $gray-clr-4;
        color: $white-clr;
        border-radius: 50%;
        transition: 0.3s;
        &:hover {
          background: $white-clr;
          color: $gray-clr-4;
        }
      }
      .fa-play {
        font-size: 2rem;
        padding: 1.5rem;
        @include breakpoint("lg") {
          font-size: 2.2rem;
          padding: 0.8rem;
        }
      }
      .fa-user-plus {
        font-size: 1.8em;
        padding: 1.5rem 1rem 1.5rem 1.5rem;
        @include breakpoint("lg") {
          padding: 1.1rem 0.7rem 1.1rem 1.1rem;
          font-size: 1.6rem;
        }
      }
    }
  }

  .content {
    &__title {
      a {
        transition: 0.3s;
        color: $gray-clr-1;
        font-weight: 300;
        font-size: 1.5rem;
        &:hover {
          color: $black-clr-1;
        }
      }
    }
    &__author {
      align-self: flex-end;
      display: flex;
      align-items: center;
      a {
        color: $gray-clr-2;
      }
    }
  }
}
