// * main-header
.main-header { 
  background-color:$main-header-bg;

  .header__wrapper {
    padding:3.7rem 1.6rem;
    margin:0 auto;
    max-width:45rem;

    @include breakpoint(sm){ max-width:45rem; }

    @include breakpoint(md) {
      max-width:90%;
    }
  }

  .header {
    //* header__title
    &__title { 
      font-size:2.2rem;
      font-weight:normal;
      font-family:inherit;
    }

    //* header__path
    &__path { 
      padding-top:.5rem;

      .path__dir { 
        font-size:1.3rem;
        color:$main-header-path-dir-fg;
        @include transition(color .3s ease,text-shadow .3s ease);
        &:hover {
          color:$main-header-path-dir-hover-fg;
          text-shadow:0 0 2px $main-header-path-dir-shadow-fg;
        }
      }

      .path__sep { 
        font-size:1.2rem;
        color:$main-header-path-sep-fg;
        padding:0 .3rem;
      }
    }
  }
}
  
