
.main-banner {
  width:100%;
  max-width:1600px;
  margin:0 auto;
  height:300px;
  position:relative;

  // black alpha
  $black-alpha:.5;

  // background styles
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position:center center;
  background-repeat: no-repeat;

  @include flex();

  &::before {
    content:"";
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;

    background-color:red;
    background: linear-gradient(0deg, 
                rgba(0, 0, 0, calc($black-alpha - 0.40)),
                rgba(0, 0, 0, $black-alpha));
  }
  
  h2 {
    text-align:center;
    font-size:1.6rem;
    font-weight:300;
    color:$white-clr;
    z-index: 0;

    .break-line { display:block; font-size:0; }

    @include breakpoint(sm) {
      font-size:1.5rem;
      line-height:normal;

      .break-line { display:inline; font-size:1.5rem; }
    }
    @include breakpoint(md) { font-size:1.6rem; }
    @include breakpoint(lg) { font-size:1.8rem; }
  }
}
