.reviewtitle__c__box{
    background-color: $white-clr;
    width: 100%;
    padding: 0 30px ;
    height: 64px;
    border:1px solid $gray-clr-5{
        top:{
            right:{radius:2px;}
            left:{radius:2px;}
        }
    }
    .reviewtitle__tab{
        $tab_border_size:2px;
        box-sizing: border-box;
        position: relative;
        font-size: 1.6rem;
        height: 100%;
        display: inline-block;
        padding: 20px 0;
        margin-left: 30px;

        label{
            cursor: pointer;
            display: flex;
            align-items: center;
        }
        
        & .isactivetab{
            display: none;
            &:checked ~ ::after{
                position: absolute;
                bottom: - calc($tab_border_size/2);
                left: 0%;
                width: 100%;
                height: $tab_border_size;
                background-color: $yellow-clr;
                content: '';
           }
       }


        &__icon{margin-left: 10px;}
        &__title{}




    }
}