.sendCommentBox {
  max-width: 510px;
  color:$gray-clr-2;
  font-size: 1.3rem;
  background-color: #f8f9fa;
  box-shadow: 0 0 5px 3px #eee;
  border: 2px solid $gray-clr-5;
  padding: 30px;
  @include breakpoint(md){max-width: 780px;width: 100%;}

  form {
    height: 100%;
    @include flex($fdir:column,$aitem:flex-start,$jcnt:space-between);
    .input {
      display: inline-block;
      width: 100%;
      border: 1px solid $gray-clr-4;
      padding: 5px;
      font-size: 1.5em;
    }  
  }

  .comment__input__box {
    margin: 10px;
    width: 100%;
    @include flex($fdir:column,$aitem:flex-start);
    @include breakpoint(md){width: 45%;}
  }

  &__message {
    width: 100%;

    .comment_describe {
      font-size: inherit;
      margin-bottom: 5px;
    }

    .comment__input__box {
      @include breakpoint(md){width:100%};
    }

    .input{
      min-height: 200px;  
    }
  }

  &__information {
    width: 100%;
    @include flex($fdir:column);
    @include breakpoint(md) {
      flex-direction:row;
      flex-wrap: wrap;
    }
  }
}
