.sendcomment {
  margin-top: 30px;
  width: 100%;
  color: $gray-clr-2;
  font-size: 1.2rem;
  border: 2px solid $nwecomment-border-box;
  background-color: $gray-clr-7;
  border: 2px solid $gray-clr-5;
  padding: 2.5rem;
  .newcomment-form {
    height: 100%;
    @include flex($fdir: column, $aitem: flex-start, $jcnt: space-between);
    .input {
      display: inline-block;
      width: 100%;
      border: 1px solid $recover-pass-form-input-border;
      padding: 8px 10px;
      line-height: 1.6;
      box-shadow: 0 1px 3px 0 $newcomment-input-shadow;
      font-size: inherit;
      font-family: inherit;
    }
  }
  .input__wrapper {
    color: $gray-clr-2;
    margin: 1rem 0;
    width: 100%;
    @include flex($fdir: column, $aitem: flex-start);
    @include breakpoint(md) {
      width: 48%;
    }
  }
  .newcomment-form {
    .form {
      &__msg {
        width: 100%;
        .msg_describe {
          margin-bottom: 5px;
        }
        .input__wrapper {
          @include breakpoint(md) {
            width: 100%;
          }
        }
        .input {
          resize: vertical;
          min-height: 200px;
        }
      }

      &__info {
        width: 100%;
        @include flex($fdir: column);
        @include breakpoint(md) {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
        }
      }
      &__submit {
        width: 100%;
        @extend %yellowBtn;
        cursor: pointer;
        padding: 10px 17px;
        font-family: inherit;
        @include breakpoint(sm){width: initial;}
      }
    }
    .info__captcha {
      min-width: 120px;
      width: 50%;
      max-width: 220px;
      background-color: $newcomment-recaptcha-bg;
      border: 1px solid $recover-pass-form-input-border;
      box-shadow: 0 1px 3px 0 $newcomment-input-shadow;
      padding: 0.5rem;
      margin: 1rem 0;
      .input__wrapper {
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 2.5rem;
        input {
          width: 20%;
          height: 100%;
        }
        label {
          font-family: Arial, Helvetica, sans-serif;
          font-weight: bold;
          color: $gray-clr-1;
          @include breakpoint(sm) {
            margin-left: 1rem;
          }
        }
      }
      .captcha {
        &-logo {
          width: 100%;
          text-align: center;
          margin-bottom: 0.5rem;
        }
        &-icon {
          background: url(/assets/images/courses/javascript/recaptcha.png);
          background-size: contain;
          background-repeat: no-repeat;
          height: 2rem;
          display: inline-block;
          width: 2rem;
          vertical-align: middle;
        }
        &-name {
          color: $gray-clr-2;
          font-size: 1rem;
        }
        &-breadcrumb {
          @include flex();
          font-size: 0.8rem;
          li:not(:last-child)::after {
            content: "•";
            margin: 0 0.3rem;
          }
        }
      }
    }
  }
}
