.top-bar {
  @include flex($jcnt:left, $gap:3rem);
  background-color:$topbar-bg;
  padding:0 2rem;
  height:5.5rem; 

  &__links {
    @include flex($gap:2rem);
    display:none;
  }
  
  &__link {
    color:$topbar-link-fg;
    &:hover {
      color:$topbar-link-hover-fg;
    }
  }

  &__icons {
    @include flex($gap:2rem);
  }

  &__icon {
      color:$topbar-icon-fg;
      font-size:1.5rem;
      cursor:pointer;
      &:hover {
        color:$topbar-icon-hover-fg;
        text-shadow:0 0 15px $topbar-icon-hover-fg;
      }
  }

  &__search {
    display:none;
  }

  @include breakpoint(sm) { padding:0 5rem; }
  @include breakpoint(lg) { 
    padding:0 6rem;
    height:3.2rem; 

    &__links  { display:flex; }
    &__icons  { gap:3rem; }
    &__search { display:block; }
    &__perm   { display:none; }
  }
}
