.footer {
  background-color: $black-clr-1;
  color: $white-clr;
  font-size: 1.22rem;
  max-width: $max-width;
  margin: 0 auto;

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem 0;
    padding: 3rem 1.5rem 4rem;

    @include breakpoint(lg) {
      grid-template-columns: 1fr 35% 1fr;
    }
  }

  &__contact-info {
    @include flex(
      $fdir: column,
      $aitem: flex-start,
      $jcnt: flex-start,
      $gap: 1rem
    );

    h3 {
      font-size: 1.5rem;
      font-weight: 400;
      margin-bottom: 1rem;
    }

    .info-box {
      font-size: 1.4rem;
      display: flex;
      justify-content: center;
      i {
        width: 2rem;
        font-size: 1.4rem;
        margin-left: 0.5rem;
        @include flex($dsp: inline-flex, $jcnt: flex-start);
      }
      a {
        color: $white-clr;
      }
    }
  }

  &__links {
    @include breakpoint(lg) {
      padding: 1rem;
    }

    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem 2rem;

      li a {
        @include flex($dsp: inline-flex, $jcnt: flex-start, $aitem: center);
        color: $white-clr;

        &::before {
          content: "";
          display: inline-flex;
          width: 0;
          height: 1px;
          margin-left: 5px;
          background-color: $white-clr;
          @include transition(all 0.2s ease);
        }

        &:hover::before {
          width: 1rem;
        }
      }
    }
  }

  &__text {
    padding: 1rem 0;

    @include breakpoint(lg) {
      padding: 1rem;
    }
    word-break: break-word;
    overflow-wrap: break-word;
  }

  &__copyright {
    padding: 1rem 1.5rem;
  }
}
