/* start navbar */
.navbar {
  position:relative;
  background-color:$navbar-bg;
  box-shadow:0 0.125rem 0.25rem $navbar-box-shadow;
  
  @include flex($fdir:row-reverse);
  @include transition(all .5s ease);
  @include breakpoint(lg) { padding:0 6rem; }

  &__menu {
    @include transition(transform .5s ease, opacity .5s ease);
    @include flex($jcnt:left, $gap:2rem);
    @include breakpoint(lg) { flex:1; }
  }

  .menu {
    &__list {
      flex:1;
      padding:0 1rem;

      @include flex($dsp:none, $jcnt:right, $gap:1.9rem);
      @include breakpoint(lg) { display:flex; }
      
      a {
        padding:2rem 0;
        font-size:1.4rem;
        cursor: pointer;
        color: $navbar-link-fg;

        &:hover {
          color: $navbar-link-active-fg;
        }

        &.is-active{
          color: $navbar-link-active-fg;
          pointer-events:none;
        }
      }

    }

    &__account {
      display:none;
      cursor:pointer;
      background-color:$navbar-button-account-bg;
      color:$navbar-button-account-fg;
      font-size:1.2rem;
      border-radius: 3px;
      padding:1rem 1.7rem;
      margin-left:-1.5rem;

      @include breakpoint(lg) { display:block; }

      i { font-size:1.5rem; }
    }
  }

  /* list dropdown */
  .list__dropdown {
    position:relative;

    &:hover .dropdown__list {
      opacity:1;
      @include transform(translateX(1rem));
    }
  }

  /* dropdown__header, dropdown__list */
  .dropdown {
    &__header {
      @include flex($gap:1rem);

      .fa-angle-down {
        font-size:1rem;
        color:$navbar-dropdown-angle;
      }

      &:hover i {
        cursor:pointer;
        color: $navbar-icon-hover-fg;
      }

      a.is-active {
        color: $navbar-link-active-fg;
        pointer-events:none;
      }
    }

    &__list {
      position:absolute;
      opacity:0;
      min-width:15rem;
      padding:.5rem 0;
      border-radius:4px;
      background:$navbar-dropdown-list-bg;
      box-shadow:0 0 5px $navbar-dropdown-list-shadow;

      @include transform(translateY(2rem) translateX(1rem));
      @include transition(transform .5s ease, opacity .5s ease);

      li {
        padding:.2rem 1rem;

        a {
          display:block;
          padding:.5rem 1rem;
          font-size:1.2rem;
        }
      }
    }
  }

  /* navbar brand */
  &__brand {
    flex:1;
    padding:2rem 3rem;

    @include flex($jcnt:space-between); 
    @include transition(transform .5s ease, opacity .5s ease);
    @include breakpoint(sm) { 
      max-width:540px; 
      width:100%;
      margin:0 auto;
      padding:1.4rem 3rem;
    }

    @include breakpoint(md) {
      max-width:100%;
      padding:1.4rem 6.5rem; 
    }

    @include breakpoint(lg) { 
      flex:0 1 auto; 
      width:auto;
      padding:0; 
      margin:0;
    }

    .brand__img > a {
      cursor:pointer;
      @include flex();
    }
  }

  /* navbar search */
  &__search {
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    height:100%;
    z-index:10;
    opacity:0;
    visibility: hidden;

    @include transition(transform .5s ease, opacity .5s ease);
    @include transform(translateY(1rem));

    .search {
      &__form {
        background-color: $navbar-search-form-bg;
        position:relative;
        width:100%;
        height:100%;
      }

      &-input {
        background-color: $navbar-search-input-bg;
        color: $navbar-search-input-fg; 
        font-size:2rem;
        height:100%;
        width:100%;
        padding: {
          left: 6rem;
          right:2rem;
        } 
        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration {
          display: none; 
        }
      }

      &-submit {
        position:absolute;
        top:0;
        left:0;
        bottom:0;
        padding:1rem 2.5rem;
        font-size:2rem;
        cursor:pointer;
        color:$navbar-search-submit-fg;
        background-color:transparent;
        &:hover {
          color:$navbar-search-submit-hover-fg;
        }
      }
    }
  }

  /* topbar search toggle will active this */
  &.search--active {
    @include breakpoint(lg) {
      .navbar {
        overflow:hidden;
      }

      .navbar__brand,
      .navbar__menu {
        @include transform(translateY(-1rem));
        opacity:0;
      }

      .navbar__search {
        opacity:1;
        visibility: visible;
      }
    }

    .navbar__search { @include transform(translateY(0)); }
  }

  &--toggle {
    position: relative;
    cursor: pointer;

    @include flex($fdir:column, $gap:5px); 
    @include breakpoint(lg) { display:none; }

    div {
      width: 20px;
      height: 2px;
      background-color: $sidebar-toggle-bg;
      @include transition(transform .2s ease, opacity .2s ease);
      opacity:1;
    }

    &.is-active {
      .toggle {
        &__top {
          @include transform(rotate(-40deg) translate(-5px, 5px));    
        }

        &__mid { opacity:0; }

        &__btm {
          @include transform(rotate(40deg) translate(-5px, -5px));
        }
      }
    }
  }
}

/* end navbar */
