.sidebar {
  position: fixed;
  top: 0;
  left:0;
  height:100%;
  overflow:auto;
  width:$sidebar-size;
  background-color: $sidebar-bg;
  z-index:10;

  @include transform(translateX(-$sidebar-size));
  @include transition(transform .5s ease, opacity .5s ease);

  &.is-active {
    @include transform(translateX(0));

    @include breakpoint(lg) { 
      @include transform(translateX(-$sidebar-size));
    }
  }

  /* sidebar__search */
  &__search {
    border-bottom: 1px solid $sidebar-search-border-clr;
    background-color: $sidebar-search-bg;
    padding:25px 20px;
    // padding-bottom:83px;
    color: $sidebar-search-fg; 

    .search {
      &__form {
        position:relative;
      }

      &-field {
        background-color: $sidebar-search-field-bg;
        color: $sidebar-search-field-fg; 
        width:100%;
        line-height:1.6;
        border-color: none;
        font-size:14px;
        padding:10px 18px;
        padding-left: 40px;
        border-radius:3px;
        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration {
          display: none; 
        }
      }

      &-submit {
        position:absolute;
        left:0;
        top:0;
        bottom:0;
        padding:12px;
        font-size:18px;
        color:$sidebar-search-submit-fg;
        cursor:pointer;
        background-color:transparent;
        &:hover {
          color:$sidebar-search-submit-hover-fg;
        }
      }
    }
  }


  &__list {
    padding:15px 20px;
    @include flex($fdir:column, $aitem:stretch, $gap:2rem);
    
    li a {
      font-size:15px;
      color:white;
      &:hover {
        color:cyan;
      }
    }

    .dropdown {
      &__header {
        position:relative;
        i {
          position:absolute;
          cursor:pointer;
          font-size:8px;
          color:white;
          left:0;
          top:0;
          bottom:0;
          width:25px;
        }
      }

      &__list {
        display:none;

        li {
          padding: 5px 0;
          padding-top:15px;

          a {
            padding:5px 20px;
            font-size:12px;
            border-right:1px solid $sidebar-dropdown-link-border-fg;
          }
        }

        &.is-active { display:block; }
      }
    }

  }
}

.body {
  /* body--overlay */
  &--overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: $sidebar-overlay-bg;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  /* body--wrap */
  &--wrap {
    @include transition(transform .5s ease);

    &.wrap {
      @include transform(translateX($sidebar-size));

      @include breakpoint(lg) {
        @include transform(translateX(0));
      }

      & .body--overlay {
        pointer-events:auto;
        opacity:1;
        visibility:visible;
        min-height:100vh;

        @include breakpoint(lg) {
          pointer-events: none;
          opacity:0;
          visibility:hidden;
        }

      }
    }
  }
}

.overflow--hidden {
  overflow:hidden;
  @include breakpoint(lg) { overflow-y:auto; }
}
