.topbar {
  background-color: $topbar-bg;
  @include transition(all 0.5s ease);

  @include flex($jcnt: left, $gap: 3rem);
  @include breakpoint(lg) {
    padding: 0 6rem;
  }

  &__links {
    @include flex($dsp: none, $gap: 2rem);
    @include breakpoint(lg) {
      display: flex;
    }
  }

  &__link {
    color: $topbar-link-fg;

    &:hover {
      color: $topbar-link-hover-fg;
    }
  }

  &__icons {
    padding: 1.37rem 2rem;
    font-size: 1.8rem;

    @include flex($jcnt: left, $gap: 2.3rem);
    @include breakpoint(sm) {
      max-width: 540px;
      width: 100%;
      margin: 0 auto;
      font-size: 1.6rem;
      padding: 1.05rem 1.6rem;
    }

    @include breakpoint(md) {
      max-width: 100%;
      padding: 1.05rem 60px;
    }

    @include breakpoint(lg) {
      gap: 3rem;
      font-size: 1.5rem;
      width: auto;
      margin: 0;
      padding: 0.5rem 0;
    }
  }

  &__icon {
    color: $topbar-icon-fg;
    cursor: pointer;

    &:hover {
      color: $topbar-icon-hover-fg;
      text-shadow: 0 0 1.5rem $topbar-icon-hover-fg;
    }

    a {
      font-size: 1.8rem;
      color: $white-clr;
    }
  }

  &__search {
    width: 28px;
    @include flex($dsp: none);
    @include breakpoint(lg) {
      display: flex;
    }

    .fa-close {
      font-size: 2rem;
      color: $topbar-search-close-bg;
      &:hover {
        text-shadow: 0 0 1.5rem $topbar-search-close-hover-bg;
      }
    }
  }

  &__perm {
    @include breakpoint(lg) {
      display: none;
    }
  }
}
