*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

html {
  direction: rtl;
  scroll-behavior: smooth;
}

.translated-rtl * {
  letter-spacing: 0 !important;
}

@font-face {
  font-family: Samim;
  src: url("/assets/fonts/Samim.eot");
  src: url("/assets/fonts/Samim.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Samim.woff2") format("woff2"), url("/assets/fonts/Samim.woff") format("woff"), url("/assets/fonts/Samim.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: Samim;
  src: url("/assets/fonts/Samim-Bold.eot");
  src: url("/assets/fonts/Samim-Bold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Samim-Bold.woff2") format("woff2"), url("/assets/fonts/Samim-Bold.woff") format("woff"), url("/assets/fonts/Samim-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: Samim;
  src: url("/assets/fonts/Samim-Medium.eot");
  src: url("/assets/fonts/Samim-Medium.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Samim-Medium.woff2") format("woff2"), url("/assets/fonts/Samim-Medium.woff") format("woff"), url("/assets/fonts/Samim-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: Tanha;
  src: url("/assets/fonts/Tanha-FD.eot");
  src: url("/assets/fonts/Tanha-FD.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Tanha-FD.woff2") format("woff2"), url("/assets/fonts/Tanha-FD.woff") format("woff"), url("/assets/fonts/Tanha-FD.ttf") format("truetype");
  font-weight: normal;
}
body {
  font-family: Samim, Arial, sans-serif;
}

html {
  font-size: 0.625rem;
}
@media (min-width: 576px) {
  html {
    font-size: 0.75rem;
  }
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 0.875rem;
}

p {
  font-size: 1.1rem;
}

a {
  font-size: 1.2rem;
}

body {
  overflow-x: hidden;
}

img {
  width: 100%;
  height: 100%;
}

section {
  max-width: 1230px;
  margin: 0 auto;
}

#blog .blogs__content, #course .courses__content, #home .full__content,
#home .proposal__content,
#home .blogs__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem 2rem;
  justify-items: center;
}
@media (min-width: 768px) {
  #blog .blogs__content, #course .courses__content, #home .full__content,
#home .proposal__content,
#home .blogs__content {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 992px) {
  #blog .blogs__content, #course .courses__content, #home .full__content,
#home .proposal__content,
#home .blogs__content {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

#home .proposal__header .header__btn,
#home .blogs__header .header__btn,
#home .full__header .header__btn {
  border: 0.2rem solid #000;
  background: none;
  border-radius: 0.3rem;
  padding: 1rem;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
#home .proposal__header .header__btn:hover,
#home .blogs__header .header__btn:hover,
#home .full__header .header__btn:hover {
  background: #000;
  color: #fff;
}

#blog .blogs__pagination .active, #blog .blogs__pagination a:hover, #course .courses .active, #course .courses__pagination a:hover, #home .blogs__btn, .banner-mid__link, #blog .blogs__pagination a, #course .courses__pagination a {
  background: #ffb606;
  padding: 0.5rem 1rem;
  color: #fff;
  border-radius: 0.4rem;
}

#blog .blogs__pagination a, #course .courses__pagination a {
  font-family: Tanha;
  background: #f0f0f1;
  color: #000;
  font-size: 1.3rem;
  transition: 0.3s;
  margin-left: 0.5rem;
}

.no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-selec:focus {
  outline: none !important;
}

/* learning steps */
.btn {
  color: #fff;
  background-color: #ffb606;
  padding: 10px 17px;
  font-family: Samim;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}

.course {
  overflow: hidden;
  border: 0.1rem solid #b0b0b0;
  border-radius: 1rem;
  width: min(40rem, 100%);
  transform: translateY(0);
  transition: 0.3s;
  position: relative;
}
.course:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0 1rem 0.1rem #ececec;
}
.course__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  min-height: 12rem;
}
.course__footer {
  display: flex;
  justify-content: space-between;
  border-top: 0.1rem solid #b0b0b0;
  padding: 1rem 2rem;
}
.course i {
  color: #b0b0b0;
  margin: 0 0.4rem;
  font-size: 1.6rem;
}
.course span {
  font-size: 1.3rem;
  color: #6c757d;
}
.course .header__icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.course .header__icon i {
  font-size: 2rem;
  background: #0000005e;
  color: #fff;
  padding: 1.5rem;
  border-radius: 50%;
  transition: 0.3s;
}
@media (min-width: 992px) {
  .course .header__icon i {
    font-size: 1rem;
    padding: 1.2rem;
  }
}
.course .header__icon i:hover {
  background: #fff;
  color: #0000005e;
}
.course .content__title {
  color: #6c757d;
  transition: 0.3s;
}
.course .content__title:hover {
  color: #464749;
}
.course .content__author {
  align-self: flex-end;
  display: flex;
  align-items: center;
}
.course .footer__student, .course .footer__price {
  font-family: Tanha;
}

.blog {
  border: 0.1rem solid #b0b0b0;
  width: min(45rem, 100%);
  border-radius: 0.4rem;
  overflow: hidden;
  transform: translateY(0);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.blog:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0 1rem 0.1rem #ececec;
}
.blog__title {
  min-height: 5rem;
  color: #6c757d;
  transition: 0.3s;
  padding: 0 1.5rem;
}
.blog__title:hover {
  color: #464749;
}
.blog__btn {
  padding: 1rem;
  transition: 0.3s;
  background-color: #ececec;
  font-size: 1.4rem;
}
.blog__btn:hover {
  background-color: #ffb606;
  color: #fff;
}

.banner-top {
  max-width: 1604px;
  margin: 0 auto;
}

.banner-mid {
  background: url("/assets/images/banners/home-banner-2.png") no-repeat center center/cover;
  height: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.banner-mid p {
  font-size: 1.5rem;
}
.top-bar {
  background-color: #000;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  flex-wrap: nowrap;
  gap: 3rem;
}
@media (min-width: 992px) {
  .top-bar {
    padding: 0 6rem;
  }
}
.top-bar__links {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2rem;
}
@media (min-width: 992px) {
  .top-bar__links {
    display: flex;
  }
}
.top-bar__link {
  color: #fff;
}
.top-bar__link:hover {
  color: #0ff;
}
.top-bar__icons {
  padding: 1.37rem 2rem;
  font-size: 1.8rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2.3rem;
}
@media (min-width: 576px) {
  .top-bar__icons {
    max-width: 540px;
    width: 100%;
    margin: 0 auto;
    font-size: 1.6rem;
    padding: 1.05rem 1.6rem;
  }
}
@media (min-width: 768px) {
  .top-bar__icons {
    max-width: 100%;
    padding: 1.05rem 60px;
  }
}
@media (min-width: 992px) {
  .top-bar__icons {
    gap: 3rem;
    font-size: 1.5rem;
    width: auto;
    margin: 0;
    padding: 0.5rem 0;
  }
}
.top-bar__icon {
  color: #fff;
  cursor: pointer;
}
.top-bar__icon:hover {
  color: #0ff;
  text-shadow: 0 0 15px #0ff;
}
.top-bar__search {
  display: none;
}
@media (min-width: 992px) {
  .top-bar__search {
    display: block;
  }
}
@media (min-width: 992px) {
  .top-bar__perm {
    display: none;
  }
}

/* start navbar */
.navbar {
  background-color: #fff;
  box-shadow: 0 0.2rem 0.2rem #eee;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}
@media (min-width: 992px) {
  .navbar {
    padding: 0 6rem;
  }
}
.navbar__menu {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2rem;
}
@media (min-width: 992px) {
  .navbar__menu {
    flex: 1;
  }
}
.navbar .menu__list {
  flex: 1;
  padding: 0 1rem;
  display: none;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1.9rem;
}
@media (min-width: 992px) {
  .navbar .menu__list {
    display: flex;
  }
}
.navbar .menu__list a {
  padding: 2rem 0;
  font-size: 1.4rem;
  color: #464749;
  cursor: pointer;
}
.navbar .menu__list a:hover {
  color: #000;
}
.navbar .menu__list a.is-active {
  color: #000;
  pointer-events: none;
}
.navbar .menu__account {
  display: none;
  cursor: pointer;
  background-color: #ffb606;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 3px;
  padding: 1rem 1.7rem;
  margin-left: -1.5rem;
}
@media (min-width: 992px) {
  .navbar .menu__account {
    display: block;
  }
}
.navbar .menu__account i {
  font-size: 1.5rem;
}
.navbar .list__dropdown {
  position: relative;
}
.navbar .list__dropdown:hover .dropdown__list {
  opacity: 1;
  transform: translateX(1rem);
}
.navbar .dropdown__header {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
}
.navbar .dropdown__header .fa-angle-down {
  font-size: 1rem;
  color: #aaa;
}
.navbar .dropdown__header:hover i {
  color: #008B8B;
}
.navbar .dropdown__list {
  position: absolute;
  opacity: 0;
  min-width: 15rem;
  padding: 0.5rem 0;
  border-radius: 4px;
  transform: translateY(2rem) translateX(1rem);
  transition: transform 0.2s ease-in, opacity 0.2s ease-in;
  background: #fff;
  box-shadow: 0 0 5px #bbb;
}
.navbar .dropdown__list li {
  padding: 0.2rem 1rem;
}
.navbar .dropdown__list li a {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}
.navbar__brand {
  flex: 1;
  padding: 1.7rem 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}
@media (min-width: 576px) {
  .navbar__brand {
    max-width: 540px;
    width: 100%;
    margin: 0 auto;
    padding: 1.4rem 3rem;
  }
}
@media (min-width: 768px) {
  .navbar__brand {
    max-width: 100%;
    padding: 1.4rem 6.5rem;
  }
}
@media (min-width: 992px) {
  .navbar__brand {
    flex: 0 1 auto;
    width: auto;
    padding: 0;
    margin: 0;
  }
}
.navbar__brand .brand__img > a {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}

.sidebar--toggle {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5px;
}
@media (min-width: 992px) {
  .sidebar--toggle {
    display: none;
  }
}
.sidebar--toggle div {
  width: 20px;
  height: 2px;
  background-color: #000;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  opacity: 1;
}
.sidebar--toggle.is-active .toggle__top {
  -webkit-transform: rotate(-45deg) translate(-8px, 8px);
  transform: rotate(-40deg) translate(-5px, 5px);
}
.sidebar--toggle.is-active .toggle__mid {
  opacity: 0;
}
.sidebar--toggle.is-active .toggle__btm {
  -webkit-transform: rotate(45deg) translate(-8px, -7px);
  transform: rotate(40deg) translate(-5px, -5px);
}

/* end navbar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto;
  width: 300px;
  background-color: #212529;
  -webkit-transform: translateX(-300px);
  -moz-transform: translateX(-300px);
  -ms-transform: translateX(-300px);
  -o-transform: translateX(-300px);
  transform: translateX(-300px);
  -webkit-transition: transform 0.5s ease, opacity 0.5s ease;
  -moz-transition: transform 0.5s ease, opacity 0.5s ease;
  -ms-transition: transform 0.5s ease, opacity 0.5s ease;
  -o-transition: transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease;
  /* sidebar--wrap */
  /* sidebar--overlay */
  /* sidebar__search */
}
@media (min-width: 992px) {
  .sidebar {
    display: none;
  }
}
.sidebar.is-active {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.sidebar--wrap {
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
}
.sidebar--wrap.wrap {
  -webkit-transform: translateX(300px);
  -moz-transform: translateX(300px);
  -ms-transform: translateX(300px);
  -o-transform: translateX(300px);
  transform: translateX(300px);
}
.sidebar--wrap.wrap .sidebar--overlay {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
}
@media (min-width: 992px) {
  .sidebar--wrap.wrap {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  .sidebar--wrap.wrap .sidebar--overlay {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
  }
}
.sidebar--overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: #0008;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.sidebar__search {
  border-bottom: 1px solid #2c3237;
  background-color: #212529;
  padding: 25px 20px;
  color: #6c757d;
}
.sidebar__search .search__form {
  position: relative;
}
.sidebar__search .search-field {
  background-color: #0004;
  color: #9299a0;
  width: 100%;
  line-height: 1.6;
  border-color: none;
  font-size: 14px;
  padding: 10px 18px;
  padding-left: 40px;
  border-radius: 3px;
}
.sidebar__search .search-field::-webkit-search-decoration, .sidebar__search .search-field::-webkit-search-cancel-button, .sidebar__search .search-field::-webkit-search-results-button, .sidebar__search .search-field::-webkit-search-results-decoration {
  display: none;
}
.sidebar__search .search-submit {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 12px;
  font-size: 18px;
  color: #6c757d;
  background-color: transparent;
}
.sidebar__list {
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 2rem;
}
.sidebar__list li a {
  font-size: 15px;
  color: white;
}
.sidebar__list li a:hover {
  color: cyan;
}
.sidebar__list .dropdown__header {
  position: relative;
}
.sidebar__list .dropdown__header i {
  position: absolute;
  cursor: pointer;
  font-size: 8px;
  color: white;
  left: 0;
  top: 0;
  bottom: 0;
  width: 25px;
}
.sidebar__list .sidebar__dropdown__nav {
  display: none;
}
.sidebar__list .sidebar__dropdown__nav li {
  padding: 5px 0;
  padding-top: 15px;
}
.sidebar__list .sidebar__dropdown__nav li a {
  padding: 5px 20px;
  font-size: 12px;
  border-right: 1px solid #333940;
}
.sidebar__list .sidebar__dropdown__nav.is-active {
  display: block;
}

.overflow--hidden {
  overflow: hidden;
}
@media (min-width: 992px) {
  .overflow--hidden {
    overflow: auto;
  }
}

.stepLearningCard {
  background: linear-gradient(180deg, #4d01df 0%, #8a2be1 100%);
  color: #fff;
  padding: 30px 20px;
  position: relative;
  height: 100%;
  width: 100%;
  pointer-events: none;
}
.stepLearningCard__title {
  margin-bottom: 25px;
  z-index: 1;
}
.stepLearningCard__paragraph {
  z-index: 10;
}
.stepLearningCard__background {
  opacity: 0.3;
  position: absolute;
  object-fit: contain;
  width: 60%;
  height: 60%;
  left: 10%;
  bottom: 10%;
}

.sendCommentBox {
  max-width: 510px;
  color: #6c757d;
  font-size: 1.3rem;
  background-color: #f8f9fa;
  box-shadow: 0 0 5px 3px #eee;
  border: 2px solid #ececec;
  padding: 30px;
}
@media (min-width: 768px) {
  .sendCommentBox {
    max-width: 780px;
    width: 100%;
  }
}
.sendCommentBox form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 0;
}
.sendCommentBox form .input {
  display: inline-block;
  width: 100%;
  border: 1px solid #0000005e;
  padding: 5px;
  font-size: 1.5em;
}
.sendCommentBox .comment__input__box {
  margin: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 0;
}
@media (min-width: 768px) {
  .sendCommentBox .comment__input__box {
    width: 45%;
  }
}
.sendCommentBox__message {
  width: 100%;
}
.sendCommentBox__message .comment_describe {
  font-size: inherit;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .sendCommentBox__message .comment__input__box {
    width: 100%;
  }
}
.sendCommentBox__message .input {
  min-height: 200px;
}
.sendCommentBox__information {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}
@media (min-width: 768px) {
  .sendCommentBox__information {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

#home {
  margin: 4rem 0;
}
#home .full__content,
#home .proposal__content,
#home .blogs__content {
  padding: 1.5rem;
}
#home .proposal__header,
#home .blogs__header,
#home .full__header {
  display: flex;
  justify-content: space-between;
  padding: 0 1.2rem;
  margin: 2rem 0;
}
#home .blogs {
  display: flex;
  flex-direction: column;
}
#home .blogs__btn {
  align-self: flex-end;
  margin-left: 1.5rem;
}

#course {
  background: #f8f9fa;
}
#course .courses {
  padding: 3rem 2rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}
#course .courses__sort {
  width: 100%;
  border: 0.1rem solid #ececec;
  border-radius: 0.2rem;
  background: #fff;
}
@media (min-width: 768px) {
  #course .courses__sort {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto 1fr;
    gap: 1rem;
  }
}
#course .courses .active {
  cursor: auto;
}
#course .sort__btns {
  display: none;
}
@media (min-width: 768px) {
  #course .sort__btns {
    display: block;
  }
}
#course .sort__btns button {
  border: 0.1rem solid #ececec;
  border-radius: 0.2rem;
  background: transparent;
  padding: 0.7rem;
  margin-right: 0.5rem;
}
#course .sort__btns button svg {
  width: 25px;
  height: 25px;
}
#course .sort__btns .selected {
  fill: #fff;
  background: black;
  border: none;
}
#course .sort__form {
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
}
@media (min-width: 768px) {
  #course .sort__form {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
}
#course .sort__form div {
  border: 0.1rem solid #ececec;
  border-radius: 0.2rem;
}
#course .form__search {
  padding: 1rem 0.5rem;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
}
@media (min-width: 768px) {
  #course .form__search {
    width: min(100%, 28rem);
  }
}
#course .form__search input {
  font-size: 1.4rem;
}
#course .form__search button {
  background: transparent;
  font-size: 1.5rem;
  color: #0000005e;
}
@media (min-width: 768px) {
  #course .form__select {
    width: min(100%, 26rem);
  }
}
#course .form__select select {
  color: #6c757d;
  font-size: 1.3rem;
  background: #fff;
  width: 100%;
  height: max-content;
  padding: 1rem;
  transition: 0.2s;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}
.main__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  width: 100%;
  height: 293px;
  background-image: url("/assets/images/banners/learning_step.jpeg");
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}
.main__header__title {
  color: #fff;
}
.main__content {
  width: 100%;
  max-width: 1200px;
  padding: 1.2rem;
}
.main__content__paragraph {
  text-align: justify;
  color: #6c757d;
  font-size: 1.3rem;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .main__content__paragraph {
    font-size: 1.1rem;
  }
}
.main__content__paragraph::first-letter {
  padding-right: 1rem;
}
@media (max-width: 576px) {
  .main__content__learning-step {
    max-width: 510px;
  }
}
.main__content__learning-step__header {
  padding-right: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  margin-bottom: 30px;
}
.main__content__learning-step__header__icon {
  color: #464749;
  font-size: 2.5rem;
}
.main__content__learning-step__header__title {
  margin-right: 10px;
  color: #464749;
  font-size: 1.4rem;
}
@media (min-width: 768px) {
  .main__content__learning-step__header__title {
    font-size: 1.2rem;
  }
}
.main__content__learning-step__header__border {
  margin-right: 10px;
  height: 1px;
  flex-grow: 1;
  background-color: #ececec;
}
.main__content__learning-step__box {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  gap: 0;
}
@media (min-width: 768px) {
  .main__content__learning-step__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0;
  }
}
.main__content__learning-step__box__linkItem {
  width: 310px;
  margin: 2px;
}
@media (min-width: 768px) {
  .main__content__learning-step__box__linkItem {
    width: 200px;
    height: 400px;
  }
}
@media (min-width: 992px) {
  .main__content__learning-step__box__linkItem {
    width: 277.5px;
    height: 188px;
  }
}
.main__content__learning-step__box__linkItem .stepLearningCard__reactnative {
  background: linear-gradient(180deg, #4751ca 0%, #00a2e3 100%);
}
.main__content__learning-step__box__linkItem .stepLearningCard__js {
  background: linear-gradient(180deg, #edaf20 0%, #ed5e01 100%);
}
.main__content__learning-step__box__linkItem .stepLearningCard__nodejs {
  background: linear-gradient(180deg, #1d7401 0%, #6e9601 100%);
}
.main__content__learning-step__box__linkItem .stepLearningCard__react {
  background: linear-gradient(180deg, #4d01df 0%, #8a2be1 100%);
}

#blog {
  margin: 4rem 0;
  background: #f8f9fa;
  padding: 3rem 0 10rem;
}
#blog .blogs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
#blog .blogs__content {
  padding: 0 2rem;
}
@media (min-width: 992px) {
  #blog .blogs__content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
#blog .blogs__pagination .active {
  cursor: auto;
}

/*# sourceMappingURL=styles.css.map */
