*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

html {
  direction: rtl;
  scroll-behavior: smooth;
}

.translated-rtl * {
  letter-spacing: 0 !important;
}

@font-face {
  font-display: swap;
  font-family: IRANSans;
  font-style: normal;
  font-weight: 900;
  src: url("/assets/fonts/iransans/eot/iransans-web-black.eot");
  src: url("/assets/fonts/iransans/woff2/iransans-web-black.woff2") format("woff2"), url("/assets/fonts/iransans/woff/iransans-web-black.woff") format("woff"), url("/assets/fonts/iransans/ttf/iransans-web-black.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: IRANSans;
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/iransans/eot/iransans-web-medium.eot");
  src: url("/assets/fonts/iransans/woff2/iransans-web-medium.woff2") format("woff2"), url("/assets/fonts/iransans/woff/iransans-web-medium.woff") format("woff"), url("/assets/fonts/iransans/ttf/iransans-web-medium.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/iransans/eot/iransans-web-light.eot");
  src: url("/assets/fonts/iransans/woff2/iransans-web-light.woff2") format("woff2"), url("/assets/fonts/iransans/woff/iransans-web-light.woff") format("woff"), url("/assets/fonts/iransans/ttf/iransans-web-light.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url("/assets/fonts/iransans/eot/iransans-web-ultralight.eot");
  src: url("/assets/fonts/iransans/woff2/iransans-web-ultralight.woff2") format("woff2"), url("/assets/fonts/iransans/woff/iransans-web-ultralight.woff") format("woff"), url("/assets/fonts/iransans/ttf/iransans-web-ultralight.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: IRANSans;
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/iransans/eot/iransans-web.eot");
  src: url("/assets/fonts/iransans/woff2/iransans-web.woff2") format("woff2"), url("/assets/fonts/iransans/woff/iransans-web.woff") format("woff"), url("/assets/fonts/iransans/ttf/iransans-web.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: yekan;
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/yekan/eot/iran-yekan-web-bold.eot");
  src: url("/assets/fonts/yekan/woff/iran-yekan-web-bold.woff") format("woff"), url("/assets/fonts/yekan/ttf/iran-yekan-web-bold.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: yekan;
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/yekan/eot/iran-yekan-web-light.eot");
  src: url("/assets/fonts/yekan/woff/iran-yekan-web-light.woff") format("woff"), url("/assets/fonts/yekan/ttf/iran-yekan-web-light.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: yekan;
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/yekan/eot/iran-yekan-web-regular.eot");
  src: url("/assets/fonts/yekan/woff/iran-yekan-web-regular.woff") format("woff"), url("/assets/fonts/yekan/ttf/iran-yekan-web-regular.ttf") format("truetype");
}
body {
  font-family: IRANSans, yekan, Arial, sans-serif;
}

html {
  font-size: 0.625rem;
}
@media (min-width: 576px) {
  html {
    font-size: 0.75rem;
  }
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 0.875rem;
}

p {
  font-size: 1.1rem;
}

a {
  font-size: 1.2rem;
}

body {
  overflow-x: hidden;
}

img {
  width: 100%;
  height: 100%;
}

section {
  max-width: 1230px;
  margin: 0 auto;
}

#blog .blogs__content, .learning-steps .section__box, #course .courses__content, #home .full__content,
#home .proposal__content,
#home .blogs__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem 2rem;
  justify-items: center;
}
@media (min-width: 768px) {
  #blog .blogs__content, .learning-steps .section__box, #course .courses__content, #home .full__content,
#home .proposal__content,
#home .blogs__content {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 992px) {
  #blog .blogs__content, .learning-steps .section__box, #course .courses__content, #home .full__content,
#home .proposal__content,
#home .blogs__content {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

#home .proposal__header .header__btn,
#home .blogs__header .header__btn,
#home .full__header .header__btn {
  border: 0.2rem solid #000;
  background: none;
  border-radius: 0.3rem;
  padding: 1rem;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  color: #000;
}
#home .proposal__header .header__btn:hover,
#home .blogs__header .header__btn:hover,
#home .full__header .header__btn:hover {
  background: #000;
  color: #fff;
}

.my-account__content .wrapper__form .form-submit, #blog .blogs__pagination .active, #blog .blogs__pagination a:hover, #course .courses .active, #course .courses__pagination a:hover, #home .blogs__btn, .comments__pagination .active, .comments__pagination a:hover, .sendcomment .newcomment-form .form__submit, .banner-mid__link, #blog .blogs__pagination a, #course .courses__pagination a, .comments__pagination a {
  background: #ffb606;
  padding: 0.5rem 1rem;
  color: #fff;
  border-radius: 0.4rem;
}

#blog .blogs__pagination a, #course .courses__pagination a, .comments__pagination a {
  background: #f0f0f1;
  color: #000;
  font-size: 1.3rem;
  transition: 0.3s;
  margin-left: 0.5rem;
}

.recover-pass .wrapper__form .form-input__box i, .my-account__content .wrapper__form .form-submit i, .my-account__content .wrapper__form .form-box i {
  color: #0000005e;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  width: 4rem;
  font-size: 1.7rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}

.recover-pass .wrapper__form .form__input, .my-account__content .wrapper__form .form-box input {
  width: 100%;
  border: 1px solid #dedede;
  padding: 0.6rem 1rem;
  padding-left: 3.5rem;
  border-radius: 2px;
  font-size: 1.6rem;
  font-family: inherit;
  line-height: inherit;
  -webkit-transition: box-shadow 0.3s ease;
  -moz-transition: box-shadow 0.3s ease;
  -ms-transition: box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
}
.recover-pass .wrapper__form .form__input::placeholder, .my-account__content .wrapper__form .form-box input::placeholder {
  color: #b0b0b0;
  opacity: 1;
}
.recover-pass .wrapper__form .form__input:focus, .my-account__content .wrapper__form .form-box input:focus {
  box-shadow: 0 0 10px #ececec;
}

.no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-selec:focus {
  outline: none !important;
}

.main-header {
  background-color: #ebeef1;
}
.main-header .header__wrapper {
  padding: 3.7rem 1.6rem;
  margin: 0 auto;
  max-width: 45rem;
}
@media (min-width: 576px) {
  .main-header .header__wrapper {
    max-width: 45rem;
  }
}
@media (min-width: 768px) {
  .main-header .header__wrapper {
    max-width: 95%;
  }
}
.main-header .header__title {
  font-size: 1.7rem;
  font-weight: 400;
  font-family: inherit;
}
@media (min-width: 576px) {
  .main-header .header__title {
    font-size: 1.6rem;
  }
}
@media (min-width: 768px) {
  .main-header .header__title {
    font-size: 1.8rem;
  }
}
.main-header .header__path {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  flex-wrap: wrap;
  gap: 0;
}
.main-header .header__path a {
  font-size: 1.2rem;
  font-weight: 200;
  color: #141323;
  -webkit-transition: color 0.3s ease, text-shadow 0.3s ease, font-weight 0.3s ease;
  -moz-transition: color 0.3s ease, text-shadow 0.3s ease, font-weight 0.3s ease;
  -ms-transition: color 0.3s ease, text-shadow 0.3s ease, font-weight 0.3s ease;
  -o-transition: color 0.3s ease, text-shadow 0.3s ease, font-weight 0.3s ease;
  transition: color 0.3s ease, text-shadow 0.3s ease, font-weight 0.3s ease;
}
@media (min-width: 576px) {
  .main-header .header__path a {
    font-size: 1.3rem;
  }
}
@media (min-width: 768px) {
  .main-header .header__path a {
    font-size: 1.4rem;
  }
}
.main-header .header__path a:hover {
  color: #66a;
  text-shadow: 0 0 2px #607f80;
  font-weight: 250;
}
.main-header .header__path i {
  font-size: 1.2rem;
  color: #055;
  padding: 0.3rem 0.7rem;
  padding-top: 0.4rem;
}
@media (min-width: 576px) {
  .main-header .header__path i {
    font-size: 1.3rem;
  }
}
@media (min-width: 768px) {
  .main-header .header__path i {
    font-size: 1.4rem;
  }
}

.course {
  overflow: hidden;
  border: 0.1rem solid #b0b0b0;
  border-radius: 1rem;
  width: min(40rem, 100%);
  transform: translateY(0);
  transition: 0.3s;
  position: relative;
}
.course:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0 1rem 0.1rem #ececec;
}
.course__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  min-height: 12rem;
}
.course__footer {
  display: flex;
  justify-content: space-between;
  border-top: 0.1rem solid #b0b0b0;
  padding: 1rem 2rem;
}
.course i {
  color: #b0b0b0;
  margin: 0 0.4rem;
  font-size: 1.6rem;
}
.course span {
  font-size: 1.3rem;
  color: #6c757d;
}
.course .header__icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.course .header__icon i {
  background: #0000005e;
  color: #fff;
  border-radius: 50%;
  transition: 0.3s;
}
.course .header__icon i:hover {
  background: #fff;
  color: #0000005e;
}
.course .header__icon .fa-play {
  font-size: 2rem;
  padding: 1.5rem;
}
@media (min-width: 992px) {
  .course .header__icon .fa-play {
    font-size: 2.2rem;
    padding: 0.8rem;
  }
}
.course .header__icon .fa-user-plus {
  font-size: 1.8em;
  padding: 1.5rem 1rem 1.5rem 1.5rem;
}
@media (min-width: 992px) {
  .course .header__icon .fa-user-plus {
    padding: 1.1rem 0.7rem 1.1rem 1.1rem;
    font-size: 1.6rem;
  }
}
.course .content__title {
  color: #6c757d;
  transition: 0.3s;
  font-weight: 300;
}
.course .content__title:hover {
  color: #464749;
}
.course .content__author {
  align-self: flex-end;
  display: flex;
  align-items: center;
}

.blog {
  border: 0.1rem solid #b0b0b0;
  width: min(45rem, 100%);
  border-radius: 0.4rem;
  overflow: hidden;
  transform: translateY(0);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.blog:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0 1rem 0.1rem #ececec;
}
.blog__title {
  min-height: 5rem;
  color: #6c757d;
  transition: 0.3s;
  padding: 0 1.5rem;
}
.blog__title:hover {
  color: #464749;
}
.blog__btn {
  padding: 1rem;
  transition: 0.3s;
  background-color: #ececec;
  font-size: 1.4rem;
}
.blog__btn:hover {
  background-color: #ffb606;
  color: #fff;
}

.banner-top {
  max-width: 1604px;
  margin: 0 auto;
}

.banner-mid {
  background: url("/assets/images/banners/home-banner-2.png") no-repeat center center/cover;
  height: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.banner-mid p {
  font-size: 1.5rem;
}
.steps-card {
  background: linear-gradient(180deg, #4d01df 0%, #8a2be1 100%);
  color: #fff;
  padding: 2rem 1.5rem;
  position: relative;
  height: 100%;
  width: 100%;
  pointer-events: none;
  overflow: hidden;
}
.steps-card .card__title {
  margin-bottom: 1rem;
}
.steps-card .card__paragraph {
  text-align: justify;
}
.steps-card .card__background {
  opacity: 0.3;
  position: absolute;
  object-fit: contain;
  width: 60%;
  height: 60%;
  left: 10%;
  bottom: 10%;
}

.sendcomment {
  margin-top: 30px;
  width: 100%;
  color: #6c757d;
  font-size: 1.3rem;
  background-color: #f8f9fa;
  box-shadow: 0 0 5px 3px #eee;
  border: 2px solid #ececec;
  padding: 30px;
}
.sendcomment .newcomment-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 0;
}
.sendcomment .newcomment-form .input {
  display: inline-block;
  width: 100%;
  border: 1px solid #0000005e;
  padding: 5px;
}
.sendcomment .input__wrapper {
  color: #6c757d;
  margin: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 0;
}
@media (min-width: 768px) {
  .sendcomment .input__wrapper {
    width: 45%;
  }
}
.sendcomment .newcomment-form .form__msg {
  width: 100%;
}
.sendcomment .newcomment-form .form__msg .msg_describe {
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .sendcomment .newcomment-form .form__msg .input__wrapper {
    width: 100%;
  }
}
.sendcomment .newcomment-form .form__msg .input {
  resize: vertical;
  min-height: 200px;
}
.sendcomment .newcomment-form .form__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}
@media (min-width: 768px) {
  .sendcomment .newcomment-form .form__info {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.sendcomment .newcomment-form .form__submit {
  cursor: pointer;
  padding: 10px 17px;
  font-family: inherit;
}

.comments {
  border: 1px solid #e5e5e5;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 100%;
}
.comments__tab {
  border-bottom: 1px solid #e5e5e5;
  padding: 0 3rem;
  font-size: 1.5rem;
  color: #464749;
}
.comments__tab .tabname {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  border-bottom: 2px solid #ffb606;
  padding: 15px 0;
}
.comments__tab .tabname__title {
  margin-right: 1rem;
}
.comments__list {
  padding: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 0;
}
.comments .comment {
  width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  padding: 30px 20px;
  margin: 3% 0;
  -webkit-transition: box-shadow 0.3s cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -moz-transition: box-shadow 0.3s cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -ms-transition: box-shadow 0.3s cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -o-transition: box-shadow 0.3s cubic-bezier(0.39, 0.5, 0.15, 1.36);
  transition: box-shadow 0.3s cubic-bezier(0.39, 0.5, 0.15, 1.36);
}
.comments .comment__header {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 0;
}
@media (min-width: 768px) {
  .comments .comment__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0;
    font-size: 1.1rem;
  }
}
.comments .comment__author {
  color: #464749;
  font-weight: bold;
  margin-left: 20px;
}
.comments .comment__author .author__tag {
  background-color: #ec406a;
  color: #fff;
  font-size: 0.7rem;
  border-radius: 10%;
}
.comments .comment__time {
  color: #adb5bd;
}
.comments .comment__reply {
  position: absolute;
  top: -15px;
  left: 1%;
  padding: 5px 12px;
  font-size: 1rem;
  font-family: inherit;
  color: #b0b0b0;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #b1bbbf;
  cursor: pointer;
}
.comments .comment__msg {
  color: #7d7e7f;
  text-align: justify;
}
.comments .comment:hover {
  box-shadow: 0 2px 30px 0 #1919191f;
}
.comments__pagination {
  margin: 15px auto;
}
.comments__pagination .active {
  cursor: auto;
}

.topbar {
  background-color: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  flex-wrap: nowrap;
  gap: 3rem;
}
@media (min-width: 992px) {
  .topbar {
    padding: 0 6rem;
  }
}
.topbar__links {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2rem;
}
@media (min-width: 992px) {
  .topbar__links {
    display: flex;
  }
}
.topbar__link {
  color: #fff;
}
.topbar__link:hover {
  color: #0ff;
}
.topbar__icons {
  padding: 1.37rem 2rem;
  font-size: 1.8rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2.3rem;
}
@media (min-width: 576px) {
  .topbar__icons {
    max-width: 540px;
    width: 100%;
    margin: 0 auto;
    font-size: 1.6rem;
    padding: 1.05rem 1.6rem;
  }
}
@media (min-width: 768px) {
  .topbar__icons {
    max-width: 100%;
    padding: 1.05rem 60px;
  }
}
@media (min-width: 992px) {
  .topbar__icons {
    gap: 3rem;
    font-size: 1.5rem;
    width: auto;
    margin: 0;
    padding: 0.5rem 0;
  }
}
.topbar__icon {
  color: #fff;
  cursor: pointer;
}
.topbar__icon:hover {
  color: #0ff;
  text-shadow: 0 0 1.5rem #0ff;
}
.topbar__search {
  width: 28px;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}
@media (min-width: 992px) {
  .topbar__search {
    display: flex;
  }
}
.topbar__search .fa-close {
  font-size: 2rem;
  color: #dd0;
}
.topbar__search .fa-close:hover {
  text-shadow: 0 0 1.5rem #aa0;
}
@media (min-width: 992px) {
  .topbar__perm {
    display: none;
  }
}

/* start navbar */
.navbar {
  position: relative;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem #0002;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /* list dropdown */
  /* dropdown__header, dropdown__list */
  /* navbar brand */
  /* navbar search */
  /* topbar search toggle will active this */
}
@media (min-width: 992px) {
  .navbar {
    padding: 0 4rem;
  }
}
.navbar__menu {
  -webkit-transition: transform 0.5s ease, opacity 0.5s ease;
  -moz-transition: transform 0.5s ease, opacity 0.5s ease;
  -ms-transition: transform 0.5s ease, opacity 0.5s ease;
  -o-transition: transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2rem;
}
@media (min-width: 992px) {
  .navbar__menu {
    flex: 1;
  }
}
.navbar .menu__list {
  flex: 1;
  padding: 0 1rem;
  display: none;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1.9rem;
}
@media (min-width: 992px) {
  .navbar .menu__list {
    display: flex;
  }
}
.navbar .menu__list a {
  padding: 2rem 0;
  font-size: 1.4rem;
  cursor: pointer;
  color: #464749;
}
.navbar .menu__list a:hover {
  color: #000;
}
.navbar .menu__list a.is-active {
  color: #000;
  pointer-events: none;
}
.navbar .menu__account {
  display: none;
  cursor: pointer;
  background-color: #ffb606;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 3px;
  padding: 1rem 1.7rem;
}
@media (min-width: 992px) {
  .navbar .menu__account {
    display: block;
  }
}
.navbar .menu__account i {
  font-size: 1.5rem;
}
.navbar .list__dropdown {
  position: relative;
}
.navbar .list__dropdown:hover .dropdown__list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(1rem);
  -moz-transform: translateX(1rem);
  -ms-transform: translateX(1rem);
  -o-transform: translateX(1rem);
  transform: translateX(1rem);
}
.navbar .dropdown__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
}
.navbar .dropdown__header .fa-angle-down {
  font-size: 1rem;
  color: #aaa;
}
.navbar .dropdown__header:hover i {
  cursor: pointer;
  color: #008B8B;
}
.navbar .dropdown__header a.is-active {
  color: #000;
  pointer-events: none;
}
.navbar .dropdown__list {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  min-width: 15rem;
  padding: 0.5rem 0;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 0 5px #bbb;
  -webkit-transform: translateY(2rem) translateX(1rem);
  -moz-transform: translateY(2rem) translateX(1rem);
  -ms-transform: translateY(2rem) translateX(1rem);
  -o-transform: translateY(2rem) translateX(1rem);
  transform: translateY(2rem) translateX(1rem);
  -webkit-transition: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
  -moz-transition: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
  -ms-transition: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
  -o-transition: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
}
.navbar .dropdown__list li {
  padding: 0.2rem 1rem;
}
.navbar .dropdown__list li a {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}
.navbar__brand {
  flex: 1;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  -webkit-transition: transform 0.5s ease, opacity 0.5s ease;
  -moz-transition: transform 0.5s ease, opacity 0.5s ease;
  -ms-transition: transform 0.5s ease, opacity 0.5s ease;
  -o-transition: transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
@media (min-width: 576px) {
  .navbar__brand {
    max-width: 540px;
    width: 100%;
    margin: 0 auto;
    padding: 1.4rem 3rem;
  }
}
@media (min-width: 768px) {
  .navbar__brand {
    max-width: 100%;
    padding: 1.4rem 6.5rem;
  }
}
@media (min-width: 992px) {
  .navbar__brand {
    flex: 0 1 auto;
    width: auto;
    padding: 0;
    margin: 0;
  }
}
.navbar__brand .brand__img > a {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}
.navbar__search {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: transform 0.5s ease, opacity 0.5s ease;
  -moz-transition: transform 0.5s ease, opacity 0.5s ease;
  -ms-transition: transform 0.5s ease, opacity 0.5s ease;
  -o-transition: transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease;
  -webkit-transform: translateY(1rem);
  -moz-transform: translateY(1rem);
  -ms-transform: translateY(1rem);
  -o-transform: translateY(1rem);
  transform: translateY(1rem);
}
.navbar__search .search__form {
  background-color: #fff;
  position: relative;
  width: 100%;
  height: 100%;
}
.navbar__search .search-input {
  background-color: #fff;
  color: #888;
  font-size: 2rem;
  height: 100%;
  width: 100%;
  padding-left: 6rem;
  padding-right: 2rem;
}
.navbar__search .search-input::-webkit-search-decoration, .navbar__search .search-input::-webkit-search-cancel-button, .navbar__search .search-input::-webkit-search-results-button, .navbar__search .search-input::-webkit-search-results-decoration {
  display: none;
}
.navbar__search .search-submit {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 1rem 2.5rem;
  font-size: 2rem;
  cursor: pointer;
  color: #adb5bd;
  background-color: transparent;
}
.navbar__search .search-submit:hover {
  color: #000a;
}
@media (min-width: 992px) {
  .navbar.search--active .navbar {
    overflow: hidden;
  }
  .navbar.search--active .navbar__brand,
.navbar.search--active .navbar__menu {
    -webkit-transform: translateY(-1rem);
    -moz-transform: translateY(-1rem);
    -ms-transform: translateY(-1rem);
    -o-transform: translateY(-1rem);
    transform: translateY(-1rem);
    opacity: 0;
  }
  .navbar.search--active .navbar__search {
    opacity: 1;
    visibility: visible;
  }
}
.navbar.search--active .navbar__search {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.navbar--toggle {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5px;
}
@media (min-width: 992px) {
  .navbar--toggle {
    display: none;
  }
}
.navbar--toggle div {
  width: 20px;
  height: 2px;
  background-color: #000;
  -webkit-transition: transform 0.2s ease, opacity 0.2s ease;
  -moz-transition: transform 0.2s ease, opacity 0.2s ease;
  -ms-transition: transform 0.2s ease, opacity 0.2s ease;
  -o-transition: transform 0.2s ease, opacity 0.2s ease;
  transition: transform 0.2s ease, opacity 0.2s ease;
  opacity: 1;
}
.navbar--toggle.is-active .toggle__top {
  -webkit-transform: rotate(-40deg) translate(-5px, 5px);
  -moz-transform: rotate(-40deg) translate(-5px, 5px);
  -ms-transform: rotate(-40deg) translate(-5px, 5px);
  -o-transform: rotate(-40deg) translate(-5px, 5px);
  transform: rotate(-40deg) translate(-5px, 5px);
}
.navbar--toggle.is-active .toggle__mid {
  opacity: 0;
}
.navbar--toggle.is-active .toggle__btm {
  -webkit-transform: rotate(40deg) translate(-5px, -5px);
  -moz-transform: rotate(40deg) translate(-5px, -5px);
  -ms-transform: rotate(40deg) translate(-5px, -5px);
  -o-transform: rotate(40deg) translate(-5px, -5px);
  transform: rotate(40deg) translate(-5px, -5px);
}

/* end navbar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto;
  width: 300px;
  background-color: #212529;
  -webkit-transform: translateX(-300px);
  -moz-transform: translateX(-300px);
  -ms-transform: translateX(-300px);
  -o-transform: translateX(-300px);
  transform: translateX(-300px);
  -webkit-transition: transform 0.5s ease, opacity 0.5s ease;
  -moz-transition: transform 0.5s ease, opacity 0.5s ease;
  -ms-transition: transform 0.5s ease, opacity 0.5s ease;
  -o-transition: transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease;
  /* sidebar__search */
}
.sidebar.is-active {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
@media (min-width: 992px) {
  .sidebar.is-active {
    -webkit-transform: translateX(-300px);
    -moz-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    -o-transform: translateX(-300px);
    transform: translateX(-300px);
  }
}
.sidebar__search {
  border-bottom: 1px solid #2c3237;
  background-color: #212529;
  padding: 25px 20px;
  color: #6c757d;
}
.sidebar__search .search__form {
  position: relative;
}
.sidebar__search .search-field {
  background-color: #0004;
  color: #9299a0;
  width: 100%;
  line-height: 1.6;
  border-color: none;
  font-size: 14px;
  padding: 10px 18px;
  padding-left: 40px;
  border-radius: 3px;
}
.sidebar__search .search-field::-webkit-search-decoration, .sidebar__search .search-field::-webkit-search-cancel-button, .sidebar__search .search-field::-webkit-search-results-button, .sidebar__search .search-field::-webkit-search-results-decoration {
  display: none;
}
.sidebar__search .search-submit {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 12px;
  font-size: 18px;
  color: #6c757d;
  cursor: pointer;
  background-color: transparent;
}
.sidebar__search .search-submit:hover {
  color: #ddda;
}
.sidebar__list {
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 2rem;
}
.sidebar__list li a {
  font-size: 15px;
  color: white;
}
.sidebar__list li a:hover {
  color: cyan;
}
.sidebar__list .dropdown__header {
  position: relative;
}
.sidebar__list .dropdown__header i {
  position: absolute;
  cursor: pointer;
  font-size: 8px;
  color: white;
  left: 0;
  top: 0;
  bottom: 0;
  width: 25px;
}
.sidebar__list .dropdown__list {
  display: none;
}
.sidebar__list .dropdown__list li {
  padding: 5px 0;
  padding-top: 15px;
}
.sidebar__list .dropdown__list li a {
  padding: 5px 20px;
  font-size: 12px;
  border-right: 1px solid #333940;
}
.sidebar__list .dropdown__list.is-active {
  display: block;
}

.body {
  /* body--overlay */
  /* body--wrap */
}
.body--overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: #0008;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.body--wrap {
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
}
.body--wrap.wrap {
  -webkit-transform: translateX(300px);
  -moz-transform: translateX(300px);
  -ms-transform: translateX(300px);
  -o-transform: translateX(300px);
  transform: translateX(300px);
}
@media (min-width: 992px) {
  .body--wrap.wrap {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
.body--wrap.wrap .body--overlay {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
  min-height: 100vh;
}
@media (min-width: 992px) {
  .body--wrap.wrap .body--overlay {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
  }
}

.overflow--hidden {
  overflow: hidden;
}
@media (min-width: 992px) {
  .overflow--hidden {
    overflow-y: auto;
  }
}

#home {
  margin: 4rem 0;
}
#home .full__content,
#home .proposal__content,
#home .blogs__content {
  padding: 1.5rem;
}
#home .proposal__header,
#home .blogs__header,
#home .full__header {
  display: flex;
  justify-content: space-between;
  padding: 0 1.2rem;
  margin: 2rem 0;
}
#home .blogs {
  display: flex;
  flex-direction: column;
}
#home .blogs__btn {
  align-self: flex-end;
  margin-left: 1.5rem;
}

#course {
  background: #f8f9fa;
}
#course .courses {
  padding: 3rem 2rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}
#course .courses__sort {
  width: 100%;
  border: 0.1rem solid #ececec;
  border-radius: 0.2rem;
  background: #fff;
}
@media (min-width: 768px) {
  #course .courses__sort {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto 1fr;
    gap: 1rem;
  }
}
#course .courses .active {
  cursor: auto;
}
#course .sort__btns {
  display: none;
}
@media (min-width: 768px) {
  #course .sort__btns {
    display: block;
  }
}
#course .sort__btns button {
  border: 0.1rem solid #ececec;
  border-radius: 0.2rem;
  background: transparent;
  padding: 0.7rem;
  margin-right: 0.5rem;
}
#course .sort__btns button svg {
  width: 25px;
  height: 25px;
}
#course .sort__btns .selected {
  fill: #fff;
  background: black;
  border: none;
}
#course .sort__form {
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
}
@media (min-width: 768px) {
  #course .sort__form {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
}
#course .sort__form div {
  border: 0.1rem solid #ececec;
  border-radius: 0.2rem;
}
#course .form__search {
  padding: 1rem 0.5rem;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
}
@media (min-width: 768px) {
  #course .form__search {
    width: min(100%, 28rem);
  }
}
#course .form__search input {
  font-size: 1.4rem;
}
#course .form__search button {
  background: transparent;
  font-size: 1.5rem;
  color: #0000005e;
}
@media (min-width: 768px) {
  #course .form__select {
    width: min(100%, 26rem);
  }
}
#course .form__select select {
  color: #6c757d;
  font-size: 1.3rem;
  background: #fff;
  width: 100%;
  height: max-content;
  padding: 1rem;
  transition: 0.2s;
}

.learning-steps {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}
.learning-steps .steps__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  width: 100%;
  height: 293px;
  background-image: url("/assets/images/banners/learning_step.jpeg");
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
  color: #fff;
}
.learning-steps .steps__content {
  width: 100%;
  max-width: 1200px;
  padding: 1.2rem;
  margin: auto;
}
.learning-steps .content__paragraph {
  text-align: justify;
  color: #6c757d;
  font-size: 1.3rem;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .learning-steps .content__paragraph {
    font-size: 1.1rem;
  }
}
.learning-steps .content__paragraph::first-letter {
  padding-right: 1rem;
}
.learning-steps .section__header {
  padding-right: 2rem;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}
.learning-steps .sec__header__icon {
  color: #464749;
  font-size: 2.5rem;
}
.learning-steps .sec__header__title {
  margin-right: 10px;
  color: #464749;
  font-size: 1.4rem;
}
@media (min-width: 768px) {
  .learning-steps .sec__header__title {
    font-size: 1.2rem;
  }
}
.learning-steps .sec__header__hr {
  margin-right: 10px;
  height: 1px;
  flex-grow: 1;
  background-color: #ececec;
}
.learning-steps .box__linkItem {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  width: 80%;
  min-height: 20vh;
}
@media (max-width: 576px) {
  .learning-steps .box__linkItem {
    min-width: 260px;
    max-width: 300px;
  }
}
@media (min-width: 576px) {
  .learning-steps .box__linkItem {
    max-width: 400px;
    min-height: 25vh;
  }
}
@media (min-width: 768px) {
  .learning-steps .box__linkItem {
    max-width: initial;
    width: 90%;
  }
}
@media (min-width: 992px) {
  .learning-steps .box__linkItem {
    width: 100%;
  }
}
.learning-steps .steps-card__reac {
  background: linear-gradient(180deg, #4d01df 0%, #8a2be1 100%);
}
.learning-steps .steps-card__nodejs {
  background: linear-gradient(180deg, #1d7401 0%, #6e9601 100%);
}
.learning-steps .steps-card__reactnative {
  background: linear-gradient(180deg, #4751ca 0%, #00a2e3 100%);
}
.learning-steps .steps-card__js {
  background: linear-gradient(180deg, #edaf20 0%, #ed5e01 100%);
}

.js-body {
  background: #f8f9fa;
}

.heading {
  background: #ebeef1;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
@media (max-width: 576px) {
  .heading {
    padding: 2rem;
  }
}
@media (min-width: 576px) {
  .heading {
    padding: 4rem;
  }
}
@media (min-width: 1200px) {
  .heading {
    padding: 3rem 12rem;
  }
}
.heading h2 {
  font-size: 2.2rem;
  font-weight: 100;
  color: #000;
}
.heading ul {
  display: flex;
  align-items: baseline;
  gap: 0.6rem;
}
.heading li {
  color: #000;
  font-size: 1.3rem;
}
.heading li:nth-child(even) {
  font-size: 0.7rem;
}
.heading a {
  color: #000;
  font-size: 1.3;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.heading a:hover {
  color: #6c757d;
}

.btn-scroll {
  width: 3rem;
  height: 3rem;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: fixed;
  display: none;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media (max-width: 576px) {
  .btn-scroll {
    top: 85vh;
    left: 8vw;
  }
}
@media (min-width: 576px) {
  .btn-scroll {
    top: 85vh;
    left: 3vw;
  }
}
@media (min-width: 992px) {
  .btn-scroll {
    top: 88vh;
    left: 1.2vw;
  }
}
.btn-scroll i {
  font-size: 1.1rem;
  color: #fff;
  padding-top: 0.4rem;
}
.btn-scroll:hover {
  background: #000;
}

.btn-scroll-active {
  display: flex;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  position: relative;
}
@media (max-width: 576px) {
  .main {
    width: 100%;
    padding: 0 2rem;
  }
}
@media (min-width: 576px) {
  .main {
    width: 100%;
    padding: 0 4rem;
    justify-content: center;
  }
}
@media (min-width: 992px) {
  .main {
    padding: 0 2rem;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .main {
    padding: 0;
  }
}

.main-course {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 576px) {
  .main-course {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .main-course {
    width: calc(100% - 31rem);
  }
}

.main-active {
  width: 100%;
}

.image-course-container {
  width: 100%;
  position: relative;
  margin-bottom: 2rem;
}
.image-course-container img {
  border-radius: 0.3rem;
}
.image-course-container .image_play-icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}
.image-course-container .play-icon {
  width: 7.5rem;
  height: 7.5rem;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.image-course-container .play-icon i {
  font-size: 3.5rem;
  padding-right: 0.2rem;
}
.image-course-container .play-icon:hover {
  background: #fff;
  color: #6c757d;
}

@media (max-width: 576px) {
  .aside-to-main {
    display: block;
  }
}
@media (min-width: 576px) {
  .aside-to-main {
    display: block;
  }
}
@media (min-width: 992px) {
  .aside-to-main {
    display: none;
  }
}
.aside-to-main img {
  width: 40%;
  margin: 0 auto;
}

.register-for-screens {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1001;
}
@media (max-width: 576px) {
  .register-for-screens {
    visibility: visible;
  }
  .register-for-screens i {
    display: none;
  }
}
@media (min-width: 576px) {
  .register-for-screens {
    visibility: visible;
  }
  .register-for-screens i {
    display: none;
  }
}
@media (min-width: 992px) {
  .register-for-screens {
    visibility: hidden;
  }
}

.main-desc {
  background: #fff;
  border: 0.1rem solid #ececec;
  border-radius: 0.3rem;
  padding: 1.6rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.main-desc h3 {
  color: #464749;
  margin: 0.8rem 0;
  font-size: 2rem;
  font-weight: 500;
}
.main-desc p {
  color: #6c757d;
  font-size: 1.3rem;
}

.study-mode {
  background: #fff;
  border: 0.1rem solid #ececec;
  border-radius: 0.3rem;
  padding: 1.6rem;
  margin-bottom: 1rem;
  width: 2.5rem;
  height: 3rem;
  padding: 0.6rem 1.4rem;
  flex-direction: column;
  align-items: center;
  gap: 2.6rem;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  top: 43.5rem;
  right: -4rem;
}
@media (max-width: 576px) {
  .study-mode {
    display: none;
  }
}
@media (min-width: 576px) {
  .study-mode {
    display: none;
  }
}
@media (min-width: 1200px) {
  .study-mode {
    display: flex;
  }
}
.study-mode:hover {
  height: 10.5rem;
}
.study-mode i {
  font-size: 1.6rem;
  color: #b0b0b0;
}
.study-mode p {
  transform: rotate(90deg);
  width: 8rem;
  font-size: 1.2rem;
  color: #b0b0b0;
}

.study-mode-active {
  position: fixed;
  top: 7rem;
  right: 8rem;
}

.why-js-post {
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  background: #021636dc;
  position: relative;
  cursor: pointer;
}
.why-js-post .image-js-post {
  width: 30%;
  height: 100%;
}
.why-js-post .post-title {
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
}
.why-js-post .next-arrow {
  position: absolute;
  top: 0;
  left: 0.5rem;
}
.why-js-post .next-arrow {
  width: 4rem;
  height: 100%;
}

.frequently-questions {
  padding: 1rem;
}
.frequently-questions .question {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.frequently-questions .question i {
  font-size: 1.4rem;
  padding-top: 0.6rem;
  margin-left: 0.4rem;
  color: #b0b0b0;
}
.frequently-questions .question-box {
  background: #e9ecef;
  padding: 1rem;
  padding-bottom: 2rem;
  margin-bottom: 0.6rem;
  border: 0.1rem solid #dddedf;
  border-radius: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
  height: 4.8rem;
  overflow: hidden;
}
.frequently-questions .questions-active {
  height: auto;
  overflow: none;
}
.frequently-questions h4 {
  color: #464749;
  font-size: 1.6rem;
  font-weight: 100;
  margin-bottom: 0.8rem;
}

.introductions {
  background: #fff;
  border: 0.1rem solid #ececec;
  border-radius: 0.3rem;
  padding: 1.6rem;
  margin-bottom: 1rem;
  background: #f8f9fa;
  padding-top: 0.8rem;
  padding-bottom: 0;
  margin-bottom: 0;
}
.introductions .intro-box {
  border-top: 0.1rem solid #ececec;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.introductions p {
  color: #464749;
  margin-bottom: 0.2rem;
}
.introductions span {
  background: #65bded;
  color: #fff;
  margin-right: 0.5rem;
  padding: 0 0.5rem;
  font-size: 1.1rem;
  border-radius: 0.2rem;
}
.introductions h5 {
  color: #b0b0b0;
  font-size: 1.2rem;
  font-weight: 100;
}
.introductions .preview {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: #000;
  color: #fff;
  height: 2rem;
  padding: 1.3rem 0.8rem;
  border-radius: 2rem;
}
.introductions .preview p {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
}

.seasons-projects-box {
  background: #fff;
  border: 0.1rem solid #ececec;
  border-radius: 0.3rem;
  padding: 1.6rem;
  margin-bottom: 1rem;
  background: #f8f9fa;
  margin-bottom: 0;
  padding-bottom: 1rem;
}
.seasons-projects-box .seasons-projects-box-active {
  margin-bottom: 1rem;
}
.seasons-projects-box .seasons-projects {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.seasons-projects-box h4 {
  color: #464749;
  font-size: 1.6rem;
  font-weight: 100;
  margin-bottom: 0.8rem;
}
.seasons-projects-box i {
  font-size: 1.4rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  color: #b0b0b0;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.seasons-projects-box .down-icon-active {
  transform: rotate(180deg);
}
.seasons-projects-box .season-info {
  display: none;
}
.seasons-projects-box .season-info-active {
  display: block;
}
.seasons-projects-box .lesson-info {
  border-top: 0.1rem solid #ececec;
  padding: 0.8rem;
  cursor: pointer;
}
.seasons-projects-box p {
  color: #464749;
  margin-bottom: 0.2rem;
}
.seasons-projects-box span {
  background: #65bded;
  color: #fff;
  margin-right: 0.5rem;
  padding: 0 0.5rem;
  font-size: 1.1rem;
  border-radius: 0.2rem;
}
.seasons-projects-box h5 {
  color: #b0b0b0;
  font-size: 1.2rem;
  font-weight: 100;
}

.aside-course {
  width: 29rem;
  height: 100vh;
}
@media (max-width: 576px) {
  .aside-course {
    display: none;
  }
}
@media (min-width: 576px) {
  .aside-course {
    display: none;
  }
}
@media (min-width: 992px) {
  .aside-course {
    display: block;
  }
}

.aside-active {
  position: sticky;
  top: -80rem;
}

.aside-study-mode {
  display: none;
}

.price-and-register {
  width: 100%;
  background: #fff;
  border: 0.1rem solid #ececec;
  border-radius: 0.3rem;
  padding: 1.6rem;
  margin-bottom: 1rem;
  position: relative;
}
.price-and-register::before, .price-and-register::after {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  top: 3.3rem;
  background: #fff;
}
.price-and-register::before {
  right: 0.95rem;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-left: 0.1rem dashed #ececec;
}
.price-and-register::after {
  left: 0.95rem;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-right: 0.1rem dashed #ececec;
}

.price-course {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.1rem dashed #ececec;
  border-radius: 0.8rem;
  padding-right: 1.8rem;
  background: #f8f9fa;
  margin-bottom: 1rem;
}
.price-course p {
  font-size: 1.4rem;
  color: #6c757d;
}
.price-course .price {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  border-right: 0.1rem dashed #ececec;
  padding: 0.8rem 1.5rem;
  padding-right: 6rem;
}
.price-course .price p {
  font-size: 1.1rem;
}
.price-course h3 {
  color: #464749;
  font-size: 2rem;
  font-family: "Tanha";
}

.register-course, .register-for-screens {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1fbd50;
  border-radius: 0.3rem;
  padding: 0.8rem;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  box-shadow: 0 2px 5px rgba(31, 189, 80, 0.2);
}
.register-course:hover, .register-for-screens:hover {
  background: #464749;
}
.register-course a, .register-for-screens a {
  color: #fff;
  font-size: 1.7rem;
  font-weight: 500;
}
.register-course i, .register-for-screens i {
  position: absolute;
  top: 1.4rem;
  right: 1rem;
  font-size: 1.5rem;
  color: #fff;
}

.info-course {
  background: #fff;
  border: 0.1rem solid #ececec;
  border-radius: 0.3rem;
  padding: 1.6rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 1.6rem;
}
.info-course .number-download {
  padding: 1rem 3rem;
  justify-content: center;
  border: 0.12rem dotted #ececec;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  justify-content: space-between;
  color: #464749;
}
.info-course .number-download i {
  font-size: 2.2rem;
}
.info-course .number-download p {
  font-size: 1.2rem;
}
.info-course .number-download span {
  font-size: 1.2rem;
  background: #ebeef1;
  padding: 0.1rem 0.8rem 0;
  border-radius: 0.3rem;
  font-family: "Tanha";
}
.info-course div {
  width: 100%;
  display: flex;
  align-items: baseline;
  padding: 0.6rem 0;
  padding-right: 2.5rem;
  color: #6c757d;
  border-bottom: 0.1rem dashed #ececec;
}
.info-course .info {
  gap: 1rem;
  position: relative;
}
.info-course .info i {
  position: absolute;
  right: 0;
  font-size: 1.6rem;
}
.info-course .info .fa-traffic-light,
.info-course .info .fa-long-arrow-alt-down {
  right: 0.3rem;
}
.info-course .info p {
  font-size: 1.2rem;
}
.info-course .progress {
  align-items: center;
  border: none;
}
.info-course .progress .progress-animate {
  width: 100%;
  height: 0.9rem;
  padding: 0;
  position: absolute;
  top: 3rem;
  right: 0;
  border: none;
  background: #1fbd50;
  border-radius: 2rem;
}

.aside-to-main .visit-comments-box,
.aside-to-main .visit,
.aside-to-main .comment {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}

.visit-comments-box {
  background: #fff;
  border: 0.1rem solid #ececec;
  border-radius: 0.3rem;
  padding: 1.6rem;
  margin-bottom: 1rem;
  color: #6c757d;
}
.visit-comments-box i {
  font-size: 1.6rem;
}
.visit-comments-box p {
  font-size: 1.2rem;
}
.visit-comments-box .mid-line {
  width: 0.05rem;
  height: 1.5rem;
  background: #b0b0b0;
  margin: 0 0.8rem;
}

.programmer-course {
  background: #fff;
  border: 0.1rem solid #ececec;
  border-radius: 0.3rem;
  padding: 1.6rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: #6c757d;
}
.programmer-course .programmer-image {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  border: 0.3rem double #ececec;
}
.programmer-course .programmer-image img {
  border-radius: 50%;
}
.programmer-course h4 {
  font-size: 1.5rem;
  font-weight: 100;
  color: #464749;
}
.programmer-course p {
  font-size: 1rem;
}

.our-instagram {
  background: #fff;
  border: 0.1rem solid #ececec;
  border-radius: 0.3rem;
  padding: 1.6rem;
  margin-bottom: 1rem;
}
.our-instagram .image-instagram {
  width: 100%;
}

.share-box {
  background: #fff;
  border: 0.1rem solid #ececec;
  border-radius: 0.3rem;
  padding: 1.6rem;
  margin-bottom: 1rem;
}
.share-box .info-product {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  color: #6c757d;
  padding-bottom: 0.8rem;
  margin-bottom: 0.8rem;
  border-bottom: 0.1rem dashed #ececec;
}
.share-box .info-product p {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  font-size: 1.3rem;
}
.share-box .info-product a {
  font-size: 1rem;
  border: 0.1rem dotted #ececec;
  padding: 0 0.5rem;
  border-radius: 1rem;
  color: #6c757d;
}
.share-box .link-course {
  font-size: 1rem;
  color: #b0b0b0;
  border: 0.1rem solid #ececec;
  padding: 0.3rem 0.8rem;
  border-radius: 0.3rem;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.08);
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
}
.share-box .social-icons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.share-box .social-icons a {
  color: #b0b0b0;
  padding: 0.4rem 0.7rem 0.2rem;
  border: 0.15rem solid #b0b0b0;
  border-radius: 0.2rem;
}
.share-box .social-icons .facebook {
  padding: 0.4rem 0.95rem 0.2rem;
}

.comment-box {
  padding: 10px;
  background: #fff;
  border: 0.1rem solid #ececec;
  border-radius: 0.3rem;
  padding: 1.6rem;
  margin-bottom: 1rem;
}

#blog {
  margin: 4rem 0;
  background: #f8f9fa;
  padding: 3rem 0 10rem;
}
#blog .blogs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
#blog .blogs__content {
  padding: 0 2rem;
}
@media (min-width: 992px) {
  #blog .blogs__content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
#blog .blogs__pagination .active {
  cursor: auto;
}

.my-account__content {
  background-color: #f8f9fa;
  padding: 12rem 1rem 5rem;
  max-width: 100%;
  z-index: -1;
}
@media (min-width: 1200px) {
  .my-account__content {
    padding: 12rem 3rem;
  }
}
.my-account__content .content__wrapper {
  position: relative;
  box-shadow: 0 0.5rem 5rem #ebeef1;
  border: 1px solid #ececec;
  border-radius: 7px;
  margin: 1rem auto;
}
@media (min-width: 576px) {
  .my-account__content .content__wrapper {
    max-width: 80vw;
  }
}
@media (min-width: 768px) {
  .my-account__content .content__wrapper {
    max-width: 95vw;
  }
}
@media (min-width: 992px) {
  .my-account__content .content__wrapper {
    max-width: 100rem;
  }
}
.my-account__content .content__wrapper::before {
  content: "";
  width: 170px;
  height: 170px;
  position: absolute;
  top: -85px;
  right: 0;
  left: 0;
  margin: auto;
  padding: 10px;
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 0 2rem #ececec;
}
.my-account__content .wrapper {
  /* wrapper___account */
  /* wrapper___login, wrapper___register */
  /* wrapper__separator */
  /* wrapper__title */
  /* wrapper__form */
  /* wrapper form-hanger */
}
.my-account__content .wrapper__account {
  position: relative;
  border-radius: 7px;
  padding: 12rem 0 6rem;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 0;
}
@media (min-width: 768px) {
  .my-account__content .wrapper__account {
    flex-wrap: nowrap;
  }
}
.my-account__content .wrapper__account::before {
  content: "";
  position: absolute;
  top: -65px;
  right: 0;
  left: 0;
  width: 130px;
  height: 130px;
  margin: auto;
  background: url("/assets/images/my-account/account-logo.png") no-repeat center center;
  background-color: #ffb606;
  border-radius: 100%;
}
.my-account__content .wrapper__login, .my-account__content .wrapper__register {
  width: 100%;
  padding: 0 2rem;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 2.5rem;
}
@media (min-width: 768px) {
  .my-account__content .wrapper__login, .my-account__content .wrapper__register {
    display: flex;
  }
}
@media (min-width: 992px) {
  .my-account__content .wrapper__login, .my-account__content .wrapper__register {
    padding: 0 4rem;
  }
}
.my-account__content .wrapper__login.is-active, .my-account__content .wrapper__register.is-active {
  display: flex;
}
.my-account__content .wrapper__separator {
  display: none;
  border-left: 3px solid #ececec;
}
@media (min-width: 768px) {
  .my-account__content .wrapper__separator {
    display: block;
  }
}
.my-account__content .wrapper__title {
  color: #6c757d;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 0 1rem;
}
.my-account__content .wrapper__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 2rem;
}
.my-account__content .wrapper__form .form {
  /* form-options */
  /* form-submit  */
}
.my-account__content .wrapper__form .form-box {
  position: relative;
}
.my-account__content .wrapper__form .form-options {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.my-account__content .wrapper__form .form-options .option-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.5rem;
}
.my-account__content .wrapper__form .form-options .option-box input {
  cursor: pointer;
  border-radius: 50%;
  margin: 2px;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.my-account__content .wrapper__form .form-options .option-box label {
  font-size: 1.1rem;
  color: #0000005e;
}
.my-account__content .wrapper__form .form-options a {
  font-size: 1.1rem;
  color: #000;
}
.my-account__content .wrapper__form .form-options a:hover {
  color: #1839c0;
}
.my-account__content .wrapper__form .form-submit {
  position: relative;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1.3rem 0;
  margin: 1rem 0;
  width: 100%;
}
.my-account__content .wrapper__form .form-submit:hover i {
  border-radius: 0;
  width: 100%;
}
.my-account__content .wrapper__form .form-submit i {
  font-size: 1.7rem;
  padding: 0 2.5rem;
  justify-content: right;
  left: auto;
  right: 0;
  width: 7rem;
  color: #fff;
  background-color: #fff3;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.my-account__content .wrapper__form-changer {
  font-size: 1.1rem;
  color: #6c757d;
  background-color: #dedede55;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}
@media (min-width: 768px) {
  .my-account__content .wrapper__form-changer {
    display: none;
  }
}
.my-account__content .wrapper__form-changer button {
  font-size: 1.3rem;
  cursor: pointer;
  color: #000;
  background-color: transparent;
}
.my-account__content .wrapper__form-changer button:hover {
  color: #1839c0;
}

.recover-pass__main {
  background-color: #f8f9fa;
  padding: 4rem 1.5rem;
  padding-bottom: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 0;
}
.recover-pass__main .main__wrapper {
  max-width: 50rem;
  margin: 0 auto;
  border-radius: 0.4rem;
  border: 1px solid #e5e5e5;
  box-shadow: 0 0.6rem 2rem #a8acb94d;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 0;
}
.recover-pass .wrapper__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5rem;
  padding: 3rem;
  padding-bottom: 2rem;
}
.recover-pass .wrapper__img {
  height: 13rem;
}
.recover-pass .wrapper__text {
  color: #7d7e7f;
  font-size: 1.3rem;
}
.recover-pass .wrapper__form {
  flex: 1;
  padding: 3rem;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 1rem;
}
.recover-pass .wrapper__form .form__label {
  color: #6c757d;
  font-size: 1.3rem;
}
.recover-pass .wrapper__form .form-input__box {
  position: relative;
}
.recover-pass .wrapper__form .form__submit {
  background-color: #ffb606;
  color: #fff;
  padding: 0.9rem 1.6rem;
  margin-left: auto;
  margin-top: 10px;
  font-family: inherit;
  font-size: 1.4rem;
  line-height: 1.5;
  border-radius: 4px;
  cursor: pointer;
}

/*# sourceMappingURL=styles.css.map */
