.js-body{
    background: $gray-clr-7;
}

// heading
.heading{
    background: $gray-clr-6;
    @include transition(all 1s ease-in-out);
    @include breakpoint(xs){ padding: 2rem; };
    @include breakpoint(sm){ padding: 4rem; };
    @include breakpoint(xl){ padding: 3rem 12rem; }

    h2{
        font-size: 2.2rem;
        font-weight: 100;
        color: $black-clr-1;
    }

    ul{
        display: flex;
        align-items: baseline;
        gap: 0.6rem;
    }
    
    li{
        color: $black-clr-1;
        font-size: 1.3rem;

        &:nth-child(even){
            font-size: 0.7rem;
        }
    }

    a{
        color: $black-clr-1;
        font-size: 1.3;
        @include transition(color 0.2s ease-in-out);

        &:hover{
            color: $gray-clr-2;
        }
    }
}

.btn-scroll{
    width: 3rem;
    height: 3rem;
    background: rgba($color: #000000, $alpha: 0.2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    display: none;
    @include transform(scale(0));
    @include transition(0.3s ease-in-out);
    @include breakpoint(xs){
        top: 85vh;
        left: 8vw;
    }
    @include breakpoint(sm){
        top: 85vh;
        left: 3vw;
    }
    @include breakpoint(lg){
        top: 88vh;
        left: 1.2vw;
    }

    i{
        font-size: 1.1rem;
        color: $white-clr;
        padding-top: 0.4rem;
    }

    &:hover{
        background: $black-clr-1;
    }
}
.btn-scroll-active{
    display: flex;
    @include transform(scale(1));
}

// section .main
.main{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    position: relative;
    @include breakpoint(xs){
        width: 100%;
        padding: 0 2rem;
    }
    @include breakpoint(sm){
        width: 100%;
        padding: 0 4rem;
        justify-content: center;
    }
    @include breakpoint(lg){
        padding: 0 2rem;
        justify-content: space-between;
    }
    @include breakpoint(xl){
        padding: 0;
    }
}

// main
.main-course{
    @include transition(all 0.3s ease-in-out);
    @include breakpoint(xs){
        width: 100%;
    }
    @include breakpoint(lg){
        width: calc(100% - 31rem);
    }
}
.main-active{
    width: 100%;
}

.image-course-container{
    width: 100%;
    position: relative;
    margin-bottom: 2rem;

    img{
        border-radius: 0.3rem;
    }

    .image_play-icon{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
    }

    .play-icon{
        width: 7.5rem;
        height: 7.5rem;
        background: rgba($color: $black-clr-1, $alpha: 0.5);
        color: $white-clr;
        border-radius: 50%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        @include transition(0.2s ease-in-out);

        i{
            font-size: 3.5rem;
            padding-right: 0.2rem;
        }

        &:hover{
            background: $white-clr;
            color: $gray-clr-2;
        }
    }
}

.aside-to-main{
    @include breakpoint(xs){
        display: block;
    }
    @include breakpoint(sm){
        display: block;
    }
    @include breakpoint(lg){
        display: none;
    }

    img{
        width: 40%;
        margin: 0 auto;
    }
}

.register-for-screens{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1001;
    @extend .register-course;
    @include breakpoint(xs){
        visibility: visible;

        i{
            display: none;
        }
    }
    @include breakpoint(sm){
        visibility: visible;

        i{
            display: none;
        }
    }
    @include breakpoint(lg){
        visibility: hidden;
    }
}

.main-desc{
    @include boxStyle;
    margin-top: 2rem;
    
    h3{
        color: $gray-clr-1;
        margin: 0.8rem 0;
        font-size: 2rem;
        font-weight: 500;
    }
    
    p{
        color: $gray-clr-2;
        font-size: 1.3rem;
    }
}

.study-mode{
    @include boxStyle;
    width: 2.5rem;
    height: 3rem;
    padding: 0.6rem 1.4rem;
    flex-direction: column;
    align-items: center;
    gap: 2.6rem;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    top: 43.5rem;
    right: -4rem;
    @include breakpoint(xs){
        display: none;
    }
    @include breakpoint(sm){
        display: none;
    }
    @include breakpoint(xl){
        display: flex;
    }

    &:hover{
        height: 10.5rem;
    }

    i{
        font-size: 1.6rem;
        color: $gray-clr-3;
    }

    p{
        transform: rotate(90deg);
        width: 8rem;
        font-size: 1.2rem;
        color: $gray-clr-3;
    }
}

.study-mode-active{
    position: fixed;
    top: 7rem;
    right: 8rem;
}

.why-js-post{
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    background: #021636dc;
    position: relative;
    cursor: pointer;

    
    .image-js-post{
        width: 30%;
        height: 100%;
    }

    .post-title{
        color: $white-clr;
        font-size: 1.4rem;
        font-weight: bold;
    }

    .next-arrow{
        position: absolute;
        top: 0;
        left: 0.5rem;
    }

    .next-arrow{
        width: 4rem;
        height: 100%;
    }
}

// Frequently Asked Questions
.frequently-questions{
    padding: 1rem;

    .question{
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        i{
            font-size: 1.4rem;
            padding-top: 0.6rem;
            margin-left: 0.4rem;
            color: $gray-clr-3;
        }
    }

    .question-box{
        background: #e9ecef;
        padding: 1rem;
        padding-bottom: 2rem;
        margin-bottom: 0.6rem;
        border: 0.1rem solid #dddedf;
        border-radius: 1rem;
        box-shadow: 0 2px 5px rgba($color: #000000, $alpha: 0.08);
        height: 4.8rem;
        overflow: hidden;
    }

    .questions-active{
        height: auto;
        overflow: none;
    }

    h4{
        color: $gray-clr-1;
        font-size: 1.6rem;
        font-weight: 100;
        margin-bottom: 0.8rem;
    }
}

// introductions box
.introductions{
    @include boxStyle;
    background: $gray-clr-7;
    padding-top: 0.8rem;
    padding-bottom: 0;
    margin-bottom: 0;

    .intro-box{
        border-top: 0.1rem solid $gray-clr-5;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    }

    p{
        color: $gray-clr-1;
        margin-bottom: 0.2rem;
    }

    span{
        background: #65bded;
        color: $white-clr;
        margin-right: 0.5rem;
        padding: 0 0.5rem;
        font-size: 1.1rem;
        border-radius: 0.2rem;
    }

    h5{
        color: $gray-clr-3;
        font-size: 1.2rem;
        font-weight: 100;
    }

    .preview{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        background: $black-clr-1;
        color: $white-clr;
        height: 2rem;
        padding: 1.3rem 0.8rem;
        border-radius: 2rem;

        p{
            color: $white-clr;
            font-size: 1.2rem;
            font-weight: 500;
        }
    }
}

.seasons-projects-box{
    @include boxStyle;
    background: $gray-clr-7;
    margin-bottom: 0;
    padding-bottom: 1rem;

    .seasons-projects-box-active{
        margin-bottom: 1rem;
    }

    .seasons-projects{
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }

    h4{
        color: $gray-clr-1;
        font-size: 1.6rem;
        font-weight: 100;
        margin-bottom: 0.8rem;
    }

    i{
        font-size: 1.4rem;
        margin-left: 0.5rem;
        margin-bottom: 0.5rem;
        color: $gray-clr-3;
        @include transition(0.2s ease-in-out);
    }

    .down-icon-active{
        transform: rotate(180deg);
    }

    .season-info{
        display: none;
    }

    .season-info-active{
        display: block;
    }

    .lesson-info{
        border-top: 0.1rem solid $gray-clr-5;
        padding: 0.8rem;
        cursor: pointer;
    }

    p{
        color: $gray-clr-1;
        margin-bottom: 0.2rem;
    }

    span{
        background: #65bded;
        color: $white-clr;
        margin-right: 0.5rem;
        padding: 0 0.5rem;
        font-size: 1.1rem;
        border-radius: 0.2rem;
    }

    h5{
        color: $gray-clr-3;
        font-size: 1.2rem;
        font-weight: 100;
    }
}


// aside
// add a class to aside
.aside-course{
    width: 29rem;
    height: 100vh;

    @include breakpoint(xs){
        display: none;
    }
    @include breakpoint(sm){
        display: none;
    }
    @include breakpoint(lg){
        display: block;
    }
}
.aside-active{
    position: sticky;
    top: -80rem;
}
.aside-study-mode{
    display: none;
}

.price-and-register{
    width: 100%;
    @include boxStyle;
    position: relative;

    &::before,
    &::after{
        content: '';
        width: 1.2rem;
        height: 1.2rem;
        position: absolute;
        top: 3.3rem;
        background: $white-clr;
    }

    &::before{
        right: 0.95rem;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        border-left: 0.1rem dashed $gray-clr-5;
    }

    &::after{
        left: 0.95rem;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        border-right: 0.1rem dashed $gray-clr-5;
    }
}

.price-course{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.1rem dashed $gray-clr-5;
    border-radius: 0.8rem;
    padding-right: 1.8rem;
    background: $gray-clr-7;
    margin-bottom: 1rem;

    p{
        font-size: 1.4rem;
        color: $gray-clr-2;
    }
    
    .price{
        display: flex;
        align-items: center;
        gap: 0.8rem;
        border-right: 0.1rem dashed $gray-clr-5;
        padding: 0.8rem 1.5rem;
        padding-right: 6rem;
    
        p{
            font-size: 1.1rem;
        }
    }
    
    h3{
        color: $gray-clr-1;
        font-size: 2rem;
        font-family: "Tanha";
    }
}

.register-course{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $green-clr;
    border-radius: 0.3rem;
    padding: 0.8rem;
    cursor: pointer;
    @include transition(0.2s ease-in-out);
    box-shadow: 0 2px 5px rgba($color: $green-clr, $alpha: 0.2);

    &:hover{
        background: $gray-clr-1;
    }

    a{
        color: $white-clr;
        font-size: 1.7rem;
        font-weight: 500;
    }

    i{
        position: absolute;
        top: 1.4rem;
        right: 1rem;
        font-size: 1.5rem;
        color: $white-clr;
    }
}
// info-course
.info-course{
    @include boxStyle;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 1.6rem;

    .number-download{
        padding: 1rem 3rem;
        justify-content: center;
        border: 0.12rem dotted $gray-clr-5;
        margin-bottom: 1rem;
        border-radius: 0.5rem;
        justify-content: space-between;
        color: $gray-clr-1;

        i{
            font-size: 2.2rem;
        }

        p{
            font-size: 1.2rem;
        }

        span{
            font-size: 1.2rem;
            background: $gray-clr-6;
            padding: 0.1rem 0.8rem 0;
            border-radius: 0.3rem;
            font-family: "Tanha";
        }
    }

    div{
        width: 100%;
        display: flex;
        align-items: baseline;
        padding: 0.6rem 0;
        padding-right: 2.5rem;
        color: $gray-clr-2;
        border-bottom: 0.1rem dashed $gray-clr-5;
    }

    .info{
        gap: 1rem;
        position: relative;

        i{
            position: absolute;
            right: 0;
            font-size: 1.6rem;
        }

        .fa-traffic-light,
        .fa-long-arrow-alt-down{
            right: 0.3rem;
        }

        p{
            font-size: 1.2rem;
        }
    }

    .progress{
        align-items: center;
        border: none;

        .progress-animate{
            width: 100%;
            height: 0.9rem;
            padding: 0;
            position: absolute;
            top: 3rem;
            right: 0;
            border: none;
            background: $green-clr;
            border-radius: 2rem;
        }
    }
}
// visit-comments-box
.visit-comments-box,
.visit,
.comment{
    display: flex;
    justify-content: center;
    gap: 0.8rem;
}
.visit-comments-box{
    @include boxStyle;
    color: $gray-clr-2;

    i{
        font-size: 1.6rem;
    }
    p{
        font-size: 1.2rem;
    }

    .mid-line{
        width: 0.05rem;
        height: 1.5rem;
        background: $gray-clr-3;
        margin: 0 0.8rem;
    }
}

// programmer of course
.programmer-course{
    @include boxStyle;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: $gray-clr-2;

    .programmer-image{
        width: 6.5rem;
        height: 6.5rem;
        border-radius: 50%;
        border: 0.3rem double $gray-clr-5;

        img{
            border-radius: 50%;
        }
    }

    h4{
        font-size: 1.5rem;
        font-weight: 100;
        color: $gray-clr-1;
    }

    p{
        font-size: 1rem;
    }
}

// our-instagram
.our-instagram{
    @include boxStyle;

    .image-instagram{
        width: 100%;
    }
}

// share-box
.share-box{
    @include boxStyle;

    .info-product{
        display: flex;
        align-items: baseline;
        gap: 0.5rem;
        color: $gray-clr-2;
        padding-bottom: 0.8rem;
        margin-bottom: 0.8rem;
        border-bottom: 0.1rem dashed $gray-clr-5;

        p{
            display: flex;
            align-items: baseline;
            gap: 0.5rem;
            font-size: 1.3rem;
        }

        a{
            font-size: 1rem;
            border: 0.1rem dotted $gray-clr-5;
            padding: 0 0.5rem;
            border-radius: 1rem;
            color: $gray-clr-2;
        }
    }

    .link-course{
        font-size: 1rem;
        color: $gray-clr-3;
        border: 0.1rem solid $gray-clr-5;
        padding: 0.3rem 0.8rem;
        border-radius: 0.3rem;
        box-shadow: 0 5px 50px rgba($color: #000000, $alpha: 0.08);
        margin-bottom: 1rem;
        letter-spacing: 0.1rem;
    }

    .social-icons{
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        
        a{
            color: $gray-clr-3;
            padding: 0.4rem 0.7rem 0.2rem;
            border: 0.15rem solid $gray-clr-3;
            border-radius: 0.2rem;
        }

        .facebook{
            padding: 0.4rem 0.95rem 0.2rem;
        }
    }
}

#comment{
    // margin: auto;
    // max-width: 768px;
    padding: 10px;
    // sajjad
    @include boxStyle;
}


