body{background-color: #eee;}
.main{
    padding: 2%;
    width: 100%;
    @include breakpoint(md){
        max-width: 715px;
        padding: 15px;
    }
}
.reviewtitle__c__box{
    margin-bottom: 20px;
}
.comment_box{
    width: 90%;
    margin: auto;
}
.comments{
    background-color: $white-clr;
}