.about-us {
  &__content {
    padding: 2rem 1.5rem;
    @include flex($fdir: column, $aitem: flex-start, $gap: 4rem);
    @include breakpoint(md) {
      flex-direction: row;
      gap: 2.5rem;
    }
  }

  .content__info {
    flex: 1;

    @include flex(
      $fdir: column,
      $jcnt: flex-start,
      $aitem: flex-start,
      $gap: 1rem
    );

    h2 {
      color: $gray-clr-1;
      font-size: 2rem;
      font-weight: 400;
      cursor: pointer;
      &:hover {
        color: $gray-clr-2;
      }
    }

    div {
      color: $gray-clr-2;
      font-size: 1.4rem;
      text-align: justify;
      @incude breakpoint(md) {
        font-size: 1.25rem;
      }

      ol {
        font-size: 1.25rem;
        padding: 1rem 0;
        color: $gray-clr-1;

        list-style-type: none;
        counter-reset: elementcounter;

        @include flex($fdir: column, $aitem: flex-staddrt, $gap: 1.5rem);

        li {
          color: $gray-clr-2;
        }

        li:before {
          content: counter(elementcounter) ")";
          counter-increment: elementcounter;
          font-weight: bold;
        }

        li::marker {
          font-size: 1.25rem;
          color: $green-clr-1;
        }
      }
    }
  }
}
