#course {
  background: $gray-clr-7;
  .courses {
    padding: 3rem 2rem 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    &__sort {
      width: 100%;
      border: 0.1rem solid $gray-clr-5;
      border-radius: 0.2rem;
      background: $white-clr;
      @include breakpoint(md) {
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: auto 1fr;
        gap: 1rem;
      }
    }
    &__content {
      @extend %card-container;
    }
    &__pagination {
      a {
        @extend %paginationLinks;
        &:hover {
          @extend %yellowBtn;
        }
      }
    }
    .active {
      @extend %yellowBtn;
      cursor: auto;
    }
  }

  .sort__btns {
    display: none;
    @include breakpoint(md) {
      display: block;
    }

    button {
      border: 0.1rem solid $gray-clr-5;
      border-radius: 0.2rem;
      background: transparent;
      padding: 0.7rem;
      margin-right: 0.5rem;
      svg {
        width: 25px;
        height: 25px;
      }
    }

    .selected {
      fill: $white-clr;
      background: black;
      border: none;
    }
  }

  .sort__form {
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    @include breakpoint(md) {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }

    div {
      border: 0.1rem solid $gray-clr-5;
      border-radius: 0.2rem;
    }
  }

  .form {
    &__search {
      padding: 1rem 0.5rem;
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 1rem;
      @include breakpoint(md) {
        width: min(100%, 28rem);
      }
      input {
        font-size: 1.4rem;
      }
      button {
        background: transparent;
        font-size: 1.5rem;
        color: $gray-clr-4;
      }
    }
    
    &__select {
      @include breakpoint(md) {
        width: min(100%, 26rem);
      }
      select {
        color: $gray-clr-2;
        font-size: 1.3rem;
        background: $white-clr;
        width: 100%;
        height: max-content;
        padding: 1rem;
        transition: 0.2s;
      }
    }
  }
}
