.forums__content {
  padding: 3.5rem 1rem 5rem;

  .content__table {
    border: 2px solid $gray-clr-5;
    width: 100%;
    overflow: auto;

    .table {
      &__column,
      &__rows .table__row {
        display: grid;
        grid-template-columns: 4fr 1fr 1fr 2fr;
        min-width: 800px;
        text-align: center;
        font-size: 1.4rem;

        div:first-child {
          text-align: right;
        }

        @include breakpoint(sm) {
          font-size: 1.28rem;
        }
      }

      &__column {
        background-color: $gray-clr-1;
        color: $white-clr;
        padding: 1.5rem 2rem;
      }

      &__rows .table__row {
        border: 1px solid $gray-clr-5;
        background-color: $white-clr;
        color: $gray-clr-2;
        padding: 2rem;

        a {
          color: $gray-clr-1;
          font-size: 1.4rem;

          &:hover {
            color: $black-clr-1;
          }
        }
      }
    }
  }
}
