.my-account {
  &__content {
    background-color:$gray-clr-7;
    padding:$account-logo-padding 1rem 5rem;
    max-width:100%;

    @include breakpoint(xl) { 
      padding:$account-logo-padding 3rem;
    }

    .content__wrapper {
      position:relative;
      box-shadow: 0 .5rem 5rem $gray-clr-6;
      border:1px solid $gray-clr-5;
      border-radius:7px;
      margin:1rem auto;

      @include breakpoint(sm) { max-width:80vw; }
      @include breakpoint(md) { max-width:95vw; }
      @include breakpoint(lg) { max-width:100rem; }

      &::before {
        $wrapper-logo-size:170px;
        content: "";
        width: $wrapper-logo-size;
        height: $wrapper-logo-size;
        position: absolute;
        top: calc(-1 * ($wrapper-logo-size/2));
        right: 0;
        left: 0;
        margin: auto;
        padding: 10px;
        background: $white-clr;
        border-radius: 100%;
        box-shadow: 0 0 2rem $gray-clr-5;
      } 
    }

    .wrapper {
      /* wrapper___account */
      &__account {
        position:relative;
        border-radius:7px;
        padding:$account-logo-padding 0 calc($account-logo-padding/2); 
        background-color:$white-clr;

        @include flex($aitem:stretch, $fwrap:wrap);
        @include breakpoint(md) { flex-wrap:nowrap;}

        &::before {
          $logo-size: 130px;
          content: "";
          position: absolute;
          top: calc(-1 * ($logo-size/2));
          right: 0;
          left: 0;
          width: $logo-size;
          height: $logo-size;
          margin: auto;
          background: url('/assets/images/my-account/account-logo.png') no-repeat center center;
          background-color:$yellow-clr;
          border-radius: 100%;
        }
      }

      /* wrapper___login, wrapper___register */
      &__login,
      &__register {
        width:100%;
        padding:0 2rem;

        @include flex($dsp:none, $fdir:column, $jcnt:flex-start, $aitem:stretch, $gap:2.5rem);
        @include breakpoint(md) { display:flex; }
        @include breakpoint(lg) { padding:0 4rem; }

        &.is-active {
          display:flex;
        }
      }

      /* wrapper__separator */
      &__separator {
        display:none;
        border-left:3px solid $gray-clr-5;

        @include breakpoint(md) { display:block; }
      }

      /* wrapper__title */
      &__title {
        color:$gray-clr-2;
        font-size:1.8rem;
        font-weight:400;
        padding:0 1rem;
      }

      /* wrapper__form */
      &__form {
        @include flex($fdir:column, $aitem:stretch, $gap:2rem);

        .form {
          &-box {
            position:relative;

            input { @extend %formInputText; }

            i { @extend %formInputIcon; }
          }

          /* form-options */
          &-options {
            padding:0 .5rem;
            @include flex($jcnt:space-between, $gap:1rem, $fwrap:wrap);

            .option-box {
              @include flex($gap:.5rem);

              input {
                cursor: pointer;
                border-radius:50%;
                margin:2px;

                @include transform(scale(1.2));
              }

              label { 
                font-size:1.1rem; 
                color:$gray-clr-4;
              }
            }

            a {
              font-size:1.1rem;
              color:$black-clr-1;

              &:hover {
                color:$blue-clr-2;
              }
            }
          }

          /* form-submit  */
          &-submit {
            @extend %yellowBtn;
            position:relative;
            cursor:pointer;
            font-size:1.5rem;
            padding:1.3rem 0;
            margin:1rem 0;
            width:100%;

            &:hover i {
              border-radius:0;
              width:100%;
            }

            i {
              @extend %formInputIcon;
              font-size:1.7rem;
              padding:0 2.5rem;
              justify-content:right;
              left:auto;
              right:0;
              width:7rem;
              color:$white-clr;
              background-color:$white-clr-trans-7;
              border-top-left-radius: 1.5rem;
              border-bottom-left-radius: 1.5rem;
              @include transition(all .3s ease-in-out);
            }
          }
        }
      }

      /* wrapper form-hanger */
      &__form-changer {
        font-size:1.1rem;
        color:$gray-clr-2;
        background-color:$gray-clr-trans-mid;
        padding:2rem 1rem;
        @include flex($fwrap:wrap,$aitem:flex-start, $gap:1rem);
        @include breakpoint(md) { display:none }
        button {
          font-size:1.3rem;
          cursor:pointer;
          color:$black-clr-1;
          background-color:transparent;

          &:hover {
            color:$blue-clr-2;
          }
        }
      }
    }
  }
}
