//* /pages/terms.html
.site-terms__content {
  padding:2rem 0rem 5rem;

  .content__title {
    font-size:1.4rem;
    padding:1rem;
    width:100%;
  }

  ol {
    font-size:1.3rem;
    padding:1rem 2rem;
    color:$gray-clr-1;
    line-height:1.6;
    li { list-style-type:decimal; }
    li::marker {
      font-size: 1.5rem;
      color:$gray-clr-4;
    }
  }
}
