#home {
  margin: 4rem 0;
  .full__content,
  .proposal__content,
  .blogs__content {
    @extend %card-container;
    padding: 1.5rem;
  }

  .proposal__header,
  .blogs__header,
  .full__header {
    display: flex;
    justify-content: space-between;
    padding: 0 1.2rem;
    margin: 2rem 0;
    .header__btn {
      @extend %title-btn;
    }
  }

  .blogs {
    display: flex;
    flex-direction: column;
    &__btn {
      @extend %yellowBtn;
      align-self: flex-end;
      margin-left: 1.5rem;
    }
  }
 
}
